Repository VisActor/VRender, pull requests merged in 2023-06, with the labels that each got.

#22 Fix/components demo
  packages/vrender-components/__tests__/browser/examples/animate-line-axis.ts
  packages/vrender-components/__tests__/browser/examples/brush.ts
  packages/vrender-components/__tests__/browser/examples/circle-axis.ts
  packages/vrender-components/__tests__/browser/examples/crosshair-line.ts
  packages/vrender-components/__tests__/browser/examples/discrete-legend-v.ts
  packages/vrender-components/__tests__/browser/examples/discrete-legend.ts
  packages/vrender-components/__tests__/browser/examples/indicator.ts
  packages/vrender-components/__tests__/browser/examples/label-line.ts
  packages/vrender-components/__tests__/browser/examples/label-multi-mark.ts
  packages/vrender-components/__tests__/browser/examples/label-rect.ts
  packages/vrender-components/__tests__/browser/examples/label-smart-inverse.ts
  packages/vrender-components/__tests__/browser/examples/label-symbol.ts
  packages/vrender-components/__tests__/browser/examples/line-axis.ts
  packages/vrender-components/__tests__/browser/examples/link-path.ts
  packages/vrender-components/__tests__/browser/examples/mark-point.ts
  packages/vrender-components/__tests__/browser/examples/pick-test.ts
  packages/vrender-components/__tests__/browser/examples/player.ts
  packages/vrender-components/__tests__/browser/examples/scrollbar.ts
  packages/vrender-components/__tests__/browser/examples/segment.ts
  packages/vrender-components/__tests__/browser/examples/tag.ts
  packages/vrender-components/__tests__/browser/examples/title-animation.ts
  packages/vrender-components/__tests__/browser/examples/title.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: core, react, react-utils, components, kits, docs, bundler, test

#14 chore: add bugserver ci script
  .github/workflows/bug-server.yml
  common/config/rush/pnpm-lock.yaml
  packages/vrender/github-ci.js
  packages/vrender/package.json
Labels: core

#16 fix: fix the bug of pyramid in some case
  common/changes/@visactor/vrender/fix-pyramid3d-robustness_2023-06-09-08-16.json
  docs/demos/src/pages/pyramid3d.ts
  packages/vrender/src/graphic/pyramid3d.ts
Labels: core, docs

#15 fix: fix the bug of strokeText in 3d mode
  common/changes/@visactor/react-vrender-utils/fix-text3d-transform_2023-06-09-07-53.json
  common/changes/@visactor/react-vrender/fix-text3d-transform_2023-06-09-07-53.json
  common/changes/@visactor/vrender-components/fix-text3d-transform_2023-06-09-07-53.json
  common/changes/@visactor/vrender-kits/fix-text3d-transform_2023-06-09-07-53.json
  common/changes/@visactor/vrender/fix-text3d-transform_2023-06-09-07-53.json
  common/config/rush/pnpm-lock.yaml
  packages/react-vrender-utils/bundler.config.js
  packages/react-vrender/bundler.config.js
  packages/vrender-components/bundler.config.js
  packages/vrender-kits/bundler.config.js
  packages/vrender/bundler.config.js
  packages/vrender/github-ci.js
  packages/vrender/src/canvas/contributions/browser/context.ts
Labels: core, react, react-utils, components, kits, bundler

#27 Refactor/smart invert to adapt canopus
  packages/vrender-components/src/label/base.ts
Labels: components

#29 Fix/legend shape stroke
  README.md
  common/changes/@visactor/react-vrender/fix-legend-shape-stroke_2023-06-13-03-59.json
  common/changes/@visactor/vrender-components/fix-legend-shape-stroke_2023-06-13-03-59.json
  packages/vrender-components/README.md
  packages/vrender-components/jest.config.js
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/tsconfig.test.json
Labels: components, jest

#33 fix: fix richtext display problem
  common/changes/@visactor/vrender/fix-setCursor_2023-06-13-10-09.json
  docs/demos/src/pages/richtext.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/event/event-manager.ts
  packages/vrender/src/event/interface.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/richtext.ts
  packages/vrender/src/graphic/richtext/icon.ts
  packages/vrender/src/graphic/richtext/paragraph.ts
  packages/vrender/src/interface/graphic/richText.ts
  packages/vrender/src/render/contributions/render/richtext-render.ts
Labels: core, docs

#32 Feat/get cancel animation frame
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
  packages/vrender/src/core/contributions/env/feishu-contribution.ts
  packages/vrender/src/core/contributions/env/lynx-contribution.ts
Labels: core, react, react-utils, components, kits, docs

#38 fix: bitmap range overflow result in incorrect label layout
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/overlap/place.ts
  packages/vrender-components/src/label/overlap/scaler.ts
Labels: components

#37 fix: fix the defined bug in basis and monotone curve, closed #30
  common/changes/@visactor/vrender/fix-line-segment_2023-06-14-07-52.json
  docs/demos/src/pages/line.ts
  packages/vrender/src/common/segment/basis.ts
  packages/vrender/src/common/segment/monotone.ts
Labels: core, docs

#41 fix: fix the bug of interpolate color
  common/changes/@visactor/vrender/fix-interpolate-color_2023-06-14-12-56.json
  packages/vrender/src/color-string/interpolate.ts
Labels: core

#43 feat: support color interpolate between pure color with gradient colo…
  common/changes/@visactor/vrender/feat-color-interpolate_2023-06-15-04-41.json
  docs/demos/src/pages/circle.ts
  packages/vrender/src/color-string/interpolate.ts
Labels: core, docs

#42 Feat/version
  common/changes/@visactor/vrender-components/feat-version_2023-06-15-03-13.json
  common/changes/@visactor/vrender/feat-version_2023-06-15-03-13.json
  packages/vrender-components/.eslintrc.js
  packages/vrender-components/__tests__/unit/index.test.ts
  packages/vrender-components/jest.config.js
  packages/vrender-components/setup-mock.js
  packages/vrender-components/src/global.d.ts
  packages/vrender-components/src/index.ts
  packages/vrender/.eslintrc.js
  packages/vrender/jest.config.js
  packages/vrender/setup-mock.js
  packages/vrender/src/global.d.ts
  packages/vrender/src/index.ts
Labels: core, components, jest, eslint

#44 fix: fix the bug in multiple theme, closed #17
  docs/demos/src/pages/circle.ts
  packages/vrender/src/graphic/theme.ts
  packages/vrender/src/interface/graphic/theme.ts
Labels: core, docs

#48 perf: clear nextFrameRenderLayerSet after render
  common/changes/@visactor/vrender/perf-render-immediately_2023-06-16-03-15.json
  packages/vrender/src/core/stage.ts
Labels: core

#52 fix: fix the bug of node-canvas wh
  common/changes/@visactor/vrender-kits/fix-node-canvas-dpr_2023-06-19-09-30.json
  docs/demos/src/node/index.js
  docs/demos/src/pages/bin-tree.ts
  docs/demos/src/pages/chart.ts
  docs/demos/src/pages/circle.ts
  docs/demos/src/pages/index.ts
  docs/demos/vite.config.ts
  packages/vrender-kits/src/canvas/contributions/node/canvas.ts
  packages/vrender-kits/src/canvas/contributions/node/context.ts
Labels: kits, docs

#57 fix: fix the bug of gradient color while scale
  common/changes/@visactor/vrender/fix-gradient-color-scale_2023-06-19-13-09.json
  docs/demos/src/pages/symbol.ts
  packages/vrender/src/common/canvas-utils.ts
  packages/vrender/src/render/contributions/render/path-render.ts
  packages/vrender/src/render/contributions/render/symbol-render.ts
Labels: core, docs

#60 fix: fix the error while call createColor caused by zero scale
  common/changes/@visactor/vrender/fix-createColor-scale_2023-06-20-04-10.json
  packages/vrender/src/common/canvas-utils.ts
Labels: core

#63 fix: fix the bug of gradient color while the x1 in color is zero caus…
  common/changes/@visactor/vrender/fix-gradient-color-offset_2023-06-20-07-06.json
  packages/vrender/src/common/canvas-utils.ts
Labels: core

#64 feat: move enableView3dTransform into options3d
  common/changes/@visactor/vrender/develop_2023-06-20-07-26.json
  packages/vrender/src/core/stage.ts
  packages/vrender/src/interface/stage.ts
Labels: core

#66 fix: tooltip shape position
  common/changes/@visactor/vrender-components/fix-tooltip-shape-position_2023-06-20-09-31.json
  packages/vrender-components/src/tooltip/tooltip.ts
Labels: components

#68 perf: optimize the performance of setAttributes, closed #26
  docs/demos/src/pages/chart.ts
  packages/vrender/src/graphic/graphic.ts
Labels: core, docs

#67 Feat/border radius rename
  common/changes/@visactor/vrender-components/feat-border-radius-rename_2023-06-20-09-59.json
  common/changes/@visactor/vrender/feat-border-radius-rename_2023-06-20-09-59.json
  docs/demos/src/interactive/rect.ts
  docs/demos/src/pages/bar3d.ts
  docs/demos/src/pages/layer.ts
  docs/demos/src/pages/morphing.ts
  docs/demos/src/pages/polygon.ts
  docs/demos/src/pages/rect.ts
  docs/demos/src/pages/scroll.ts
  docs/demos/src/pages/stage.ts
  docs/demos/src/pages/test-arc-path.ts
  docs/demos/src/render/rect.ts
  packages/vrender-components/__tests__/browser/examples/color-legend.ts
  packages/vrender-components/__tests__/browser/examples/discrete-legend.ts
  packages/vrender-components/__tests__/browser/examples/mark-area.ts
  packages/vrender-components/__tests__/browser/examples/player.ts
  packages/vrender-components/__tests__/browser/examples/slider.ts
  packages/vrender-components/__tests__/browser/examples/tag.ts
  packages/vrender-components/__tests__/unit/pager.test.ts
  packages/vrender-components/__tests__/unit/slider.test.ts
  packages/vrender-components/src/crosshair/circle.ts
  packages/vrender-components/src/data-zoom/config.ts
  packages/vrender-components/src/marker/config.ts
  packages/vrender-components/src/player/base-player.ts
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/slider/slider.ts
  packages/vrender-components/src/tooltip/config.ts
  packages/vrender/src/common/polygon.ts
  packages/vrender/src/common/shape/rect.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/polygon.ts
  packages/vrender/src/graphic/rect.ts
  packages/vrender/src/interface/graphic/glyph.ts
  packages/vrender/src/interface/graphic/group.ts
  packages/vrender/src/interface/graphic/polygon.ts
  packages/vrender/src/interface/graphic/rect.ts
  packages/vrender/src/picker/contributions/canvas-picker/rect-picker.ts
  packages/vrender/src/picker/contributions/math-picker/rect-picker.ts
  packages/vrender/src/render/contributions/render/contributions/rect-contribution-render.ts
  packages/vrender/src/render/contributions/render/group-render.ts
  packages/vrender/src/render/contributions/render/polygon-render.ts
  packages/vrender/src/render/contributions/render/rect-render.ts
Labels: core, components, docs

#72 Pre release/0.11.0 alpha.1
  common/config/rush/pnpm-lock.yaml
  common/scripts/pre-release.js
  common/scripts/release.js
  docs/demos/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs, chore

#74 fix: fix the dpr in node env
  common/changes/@visactor/vrender/fix-node-dpr_2023-06-25-04-21.json
  packages/vrender/src/core/contributions/env/node-contribution.ts
Labels: core

#75 fix: fix the bug of gradient-color caused by bounds and offsetXY
  common/changes/@visactor/vrender/fix-gradient-color_2023-06-25-03-54.json
  docs/demos/src/pages/arc.ts
  docs/demos/src/pages/area.ts
  docs/demos/src/pages/circle.ts
  docs/demos/src/pages/line.ts
  docs/demos/src/pages/polygon.ts
  docs/demos/src/pages/rect.ts
  docs/demos/src/pages/text.ts
  packages/vrender/src/render/contributions/render/arc-render.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/circle-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
  packages/vrender/src/render/contributions/render/polygon-render.ts
  packages/vrender/src/render/contributions/render/rect-render.ts
  packages/vrender/src/render/contributions/render/text-render.ts
Labels: core, docs

#76 chore: edit the exports config
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits

#77 Ci/update ci
  .github/workflows/bug-server.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  README.md
  README.zh-CN.md
  common/autoinstallers/lint/change-all.ts
  common/autoinstallers/lint/package.json
  common/autoinstallers/lint/pnpm-lock.yaml
  common/config/rush/command-line.json
  packages/vrender-components/bundler.config.js
  tools/bundler/src/logic/config.ts
  tools/bundler/src/logic/rollup.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: core, react, react-utils, components, kits, docs, bundler, chore

#78 fix: fix the bug of rect cornerRadius on left top
  common/changes/@visactor/vrender/fix-rect-cornerRadius_2023-06-25-10-25.json
  docs/demos/src/pages/chart.ts
  packages/vrender/src/common/shape/rect.ts
Labels: core, docs

#80 build: prelease version 0.11.0-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#73 feat: textBaseline do not affecte lineHeight
  docs/demos/src/pages/text.ts
  packages/vrender/src/common/text.ts
  packages/vrender/src/core/contributions/textMeasure/layout.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/picker/contributions/canvas-picker/text-picker.ts
  packages/vrender/src/render/contributions/render/text-render.ts
Labels: core, docs

#81 Revert "feat: textBaseline do not affecte lineHeight"
  docs/demos/src/pages/text.ts
  packages/vrender/src/common/text.ts
  packages/vrender/src/core/contributions/textMeasure/layout.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/picker/contributions/canvas-picker/text-picker.ts
  packages/vrender/src/render/contributions/render/text-render.ts
Labels: core, docs

#82 Feat/text line height
  docs/demos/src/pages/text.ts
  packages/vrender/src/common/text.ts
  packages/vrender/src/core/contributions/textMeasure/layout.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/picker/contributions/canvas-picker/text-picker.ts
  packages/vrender/src/render/contributions/render/text-render.ts
Labels: core, docs

#86 Sync 0.11.0
  common/changes/@visactor/react-vrender-utils/chore-update-version_2023-06-20-08-54.json
  common/changes/@visactor/react-vrender/chore-update-version_2023-06-20-08-54.json
  common/changes/@visactor/vrender-components/chore-update-version_2023-06-20-08-54.json
  common/changes/@visactor/vrender-components/feat-border-radius-rename_2023-06-20-09-59.json
  common/changes/@visactor/vrender-components/fix-tooltip-shape-position_2023-06-20-09-31.json
  common/changes/@visactor/vrender-kits/chore-update-version_2023-06-20-08-54.json
  common/changes/@visactor/vrender/chore-update-version_2023-06-20-08-54.json
  common/changes/@visactor/vrender/develop_2023-06-20-07-26.json
  common/changes/@visactor/vrender/feat-border-radius-rename_2023-06-20-09-59.json
  common/changes/@visactor/vrender/fix-3d-arc_2023-06-25-11-46.json
  common/changes/@visactor/vrender/fix-gradient-color-offset_2023-06-20-07-06.json
  common/changes/@visactor/vrender/fix-gradient-color_2023-06-25-03-54.json
  common/changes/@visactor/vrender/fix-node-dpr_2023-06-25-04-21.json
  common/changes/@visactor/vrender/fix-options3d_2023-06-20-06-50.json
  common/changes/@visactor/vrender/fix-rect-cornerRadius_2023-06-25-10-25.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#69 fix: fix the bug of stroke bounds
  common/changes/@visactor/vrender/fix-bounds_2023-06-21-05-09.json
  docs/demos/src/pages/glyph.ts
  packages/vrender-components/__tests__/unit/data-zoom.test.ts
  packages/vrender/__tests__/graphic/graphic-bounds.test.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/graphic-service/graphic-service.ts
  packages/vrender/src/graphic/tools.ts
Labels: core, components, docs

#88 build: prelease version 0.11.1-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#92 fix: wheel event issue
  packages/vrender/src/event/event-system.ts
  packages/vrender/src/event/federated-event/wheel-event.ts
Labels: bug, core

#95 Sync 0.11.1
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  packages/vrender/src/event/event-system.ts
  packages/vrender/src/event/federated-event/wheel-event.ts
Labels: core, react, react-utils, components, kits, docs

#89 test: add node tree test
  packages/vrender/__tests__/graphic/node-tree.test.ts
  packages/vrender/src/graphic/node-tree.ts
Labels: core

#98 fix: fix the bug of getting global bounds
  packages/vrender/src/graphic/graphic.ts
Labels: core

#103 fix: fix the bug where repeat attribute doesn't work in image, closed…
  common/changes/@visactor/vrender/feat-image-repeat_2023-06-30-04-28.json
  docs/demos/src/pages/image.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/image.ts
  packages/vrender/src/interface/graphic/image.ts
  packages/vrender/src/render/contributions/render/image-render.ts
Labels: core, docs

#105 fix: fix the bug of pick path, closed #104
  common/changes/@visactor/vrender/fix-path-pick_2023-06-30-14-24.json
  packages/vrender/src/picker/contributions/canvas-picker/path-picker.ts
  packages/vrender/src/render/contributions/render/base-render.ts
Labels: core

#101 fix: fix the bug of releasing in node env, closed #100
  common/changes/@visactor/vrender/fix-node-release_2023-06-30-04-00.json
  packages/vrender/src/canvas/contributions/node/canvas.ts
  packages/vrender/src/core/contributions/window/base-contribution.ts
  packages/vrender/src/core/contributions/window/browser-contribution.ts
  packages/vrender/src/core/contributions/window/feishu-contribution.ts
  packages/vrender/src/core/contributions/window/lynx-contribution.ts
  packages/vrender/src/core/contributions/window/node-contribution.ts
  packages/vrender/src/core/contributions/window/taro-contribution.ts
  packages/vrender/src/core/stage.ts
Labels: core
