Repository VisActor/VRender, pull requests merged in 2023-10, with the labels that each got.

#559 Feat/label sync state
  common/changes/@visactor/vrender-components/feat-label-sync-state_2023-10-08-10-10.json
  common/changes/@visactor/vrender-core/feat-label-sync-state_2023-10-08-10-10.json
  common/config/rush/command-line.json
  packages/vrender-components/__tests__/browser/examples/label-rect.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-core/src/graphic/graphic.ts
Labels: components

#551 Fix/event stop propagation
  common/changes/@visactor/vrender-components/fix-event_stop_propagation_2023-09-28-10-04.json
  common/changes/@visactor/vrender-core/fix-event_stop_propagation_2023-09-28-10-04.json
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/slider/slider.ts
  packages/vrender-core/src/event/federated-event/base-event.ts
Labels: components

#560 Fix/arc label data filter
  common/changes/@visactor/vrender-components/fix-arc_label_dataFilter_2023-10-09-02-42.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
Labels: components

#558 Fix/glyph
  common/changes/@visactor/vrender-core/fix-glyph_2023-10-09-06-50.json
  common/changes/@visactor/vrender-kits/fix-glyph_2023-10-09-06-50.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-core/src/animate/animate.ts
  packages/vrender-core/src/plugins/builtin-plugin/flex-layout-plugin.ts
  packages/vrender-core/src/render/contributions/render/draw-interceptor.ts
  packages/vrender-core/src/render/contributions/render/glyph-render.ts
  packages/vrender-kits/src/canvas/contributions/node/canvas.ts
  packages/vrender/__tests__/browser/src/main.ts
  packages/vrender/__tests__/browser/src/node/image.png
  packages/vrender/__tests__/browser/src/node/index.js
  packages/vrender/__tests__/browser/src/pages/chart.ts
  packages/vrender/__tests__/browser/src/pages/components/components.ts
  packages/vrender/__tests__/browser/src/pages/editor/draggable-plugin.ts
  packages/vrender/__tests__/browser/src/pages/editor/register.ts
  packages/vrender/__tests__/browser/src/pages/flex.ts
  packages/vrender/__tests__/browser/src/pages/glyph.ts
  packages/vrender/__tests__/browser/src/pages/index.ts
  packages/vrender/__tests__/browser/src/pages/text-fly-in.ts
  packages/vrender/__tests__/browser/src/style.css
  packages/vrender/package.json
Labels: core, kits

#556 feat: support text fly in components, fix flex issue, closed, fix nod…
  packages/vrender-core/src/animate/animate.ts
  packages/vrender-core/src/plugins/builtin-plugin/flex-layout-plugin.ts
  packages/vrender-kits/src/canvas/contributions/node/canvas.ts
  packages/vrender/__tests__/browser/src/main.ts
  packages/vrender/__tests__/browser/src/pages/components/components.ts
  packages/vrender/__tests__/browser/src/pages/editor/draggable-plugin.ts
  packages/vrender/__tests__/browser/src/pages/editor/register.ts
  packages/vrender/__tests__/browser/src/pages/flex.ts
  packages/vrender/__tests__/browser/src/pages/index.ts
  packages/vrender/__tests__/browser/src/pages/text-fly-in.ts
  packages/vrender/__tests__/browser/src/style.css
Labels: core, kits

#553 fix: fix richtext auto size layout
  packages/vrender-core/src/graphic/richtext.ts
  packages/vrender-core/src/graphic/richtext/line.ts
  packages/vrender-core/src/graphic/richtext/utils.ts
  packages/vrender/__tests__/browser/src/pages/richtext.ts
Labels: core

#561 refactor: move canvas to devDependencies
  common/config/rush/pnpm-lock.yaml
  packages/vrender-kits/package.json
Labels: kits

#562 fix: fix reinit env issue
  common/changes/@visactor/vrender-kits/fix-reinitenv_2023-10-09-08-07.json
  common/changes/@visactor/vrender/fix-reinitenv_2023-10-09-08-07.json
  packages/vrender-kits/src/env/all.ts
  packages/vrender-kits/src/env/browser.ts
  packages/vrender-kits/src/env/contributions/browser-module.ts
  packages/vrender-kits/src/env/contributions/feishu-module.ts
  packages/vrender-kits/src/env/contributions/module.ts
  packages/vrender-kits/src/env/feishu.ts
  packages/vrender-kits/src/env/lynx.ts
  packages/vrender-kits/src/env/node.ts
  packages/vrender-kits/src/env/taro.ts
  packages/vrender-kits/src/env/wx.ts
  packages/vrender-kits/src/index.ts
  packages/vrender/__tests__/browser/src/pages/glyph.ts
Labels: core, kits

#564 Feat/component support disable active effect
  common/changes/@visactor/vrender-components/feat-component-support-disable-active-effect_2023-10-09-10-24.json
  common/changes/@visactor/vrender-core/feat-component-support-disable-active-effect_2023-10-09-10-24.json
  packages/vrender-components/__tests__/browser/examples/color-legend.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-v.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom.ts
  packages/vrender-components/__tests__/browser/examples/discrete-legend.ts
  packages/vrender-components/__tests__/browser/examples/player.ts
  packages/vrender-components/__tests__/browser/examples/size-legend.ts
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/type.ts
  packages/vrender-components/src/brush/brush.ts
  packages/vrender-components/src/brush/type.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/data-zoom/type.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/legend/color/color.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/legend/size/size.ts
  packages/vrender-components/src/legend/type.ts
  packages/vrender-components/src/pager/pager.ts
  packages/vrender-components/src/pager/type.ts
  packages/vrender-components/src/player/base-player.ts
  packages/vrender-components/src/player/continuous-player.ts
  packages/vrender-components/src/player/controller/controller.ts
  packages/vrender-components/src/player/controller/type.ts
  packages/vrender-components/src/player/discrete-player.ts
  packages/vrender-components/src/player/type/base.ts
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/scrollbar/type.ts
  packages/vrender-components/src/slider/slider.ts
  packages/vrender-components/src/slider/type.ts
Labels: components

#571 fix: fix event not remove as expected due to capture, closed #570
  common/changes/@visactor/vrender-components/fix-event-capture_2023-10-10-08-10.json
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/slider/slider.ts
Labels: components

#572 feat: add checkbox component
  common/changes/@visactor/vrender-components/feat-checkbox-component_2023-10-10-09-42.json
  packages/vrender-components/__tests__/browser/examples/checkbox.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/src/checkbox/checkbox.ts
  packages/vrender-components/src/checkbox/index.ts
  packages/vrender-components/src/checkbox/type.ts
  packages/vrender-components/src/index.ts
Labels: components

#573 Feat/datazoom scrollbar enhance
  common/changes/@visactor/vrender-components/feat-data-zoom-enhance_2023-09-25-06-01.json
  packages/vrender-components/__tests__/browser/examples/data-zoom-middle-handler.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-h.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-set-state.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-style.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-v.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom-state-to-data.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom-text-visible.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/__tests__/unit/data-zoom.test.ts
  packages/vrender-components/src/brush/type.ts
  packages/vrender-components/src/common/type.ts
  packages/vrender-components/src/data-zoom/config.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/data-zoom/type.ts
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/scrollbar/type.ts
Labels: components

#565 fix: fix pattern blur issue
  common/changes/@visactor/vrender-core/fix-texture-blur_2023-10-10-08-16.json
  packages/vrender-core/src/render/contributions/render/contributions/base-contribution-render.ts
  packages/vrender/__tests__/browser/src/pages/texture.ts
Labels: core

#575 Fix/title height
  common/changes/@visactor/vrender-components/fix-title-height_2023-10-11-07-53.json
  packages/vrender-components/src/title/title.ts
Labels: components

#583 Fix/event stage
  common/changes/@visactor/vrender-components/fix-event-stage_2023-10-16-08-27.json
  common/changes/@visactor/vrender-core/fix-event-stage_2023-10-16-03-11.json
  packages/vrender-components/__tests__/browser/examples/poptip.ts
  packages/vrender-components/src/poptip/poptip-plugin.ts
  packages/vrender-core/src/event/event-manager.ts
Labels: components

#587 Sync/main
  common/changes/@visactor/vrender-components/feat-checkbox-component_2023-10-10-09-42.json
  common/changes/@visactor/vrender-components/feat-component-support-disable-active-effect_2023-10-09-10-24.json
  common/changes/@visactor/vrender-components/fix-event-capture_2023-10-10-08-10.json
  common/changes/@visactor/vrender-components/fix-marker-component-Oct_2023-10-07-09-19.json
  common/changes/@visactor/vrender-components/fix-marker-component-Oct_2023-10-07-09-20.json
  common/changes/@visactor/vrender-core/feat-component-support-disable-active-effect_2023-10-09-10-24.json
  common/changes/@visactor/vrender-core/fix-marker-component-Oct_2023-10-07-09-20.json
  common/changes/@visactor/vrender-core/fix-texture-blur_2023-10-10-08-16.json
  common/changes/@visactor/vrender/fix-marker-component-Oct_2023-10-07-09-19.json
  common/changes/@visactor/vrender/fix-marker-component-Oct_2023-10-07-09-20.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-core/CHANGELOG.json
  packages/vrender-core/CHANGELOG.md
  packages/vrender-core/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs

#589 chore: when set the version of pre-release, this version should has h…
  common/scripts/apply-prerelease-version.js
  common/scripts/set-prerelease-version.js
Labels: chore

#591 fix: add canvas resize support in lynx env, closed #581
  common/changes/@visactor/vrender-kits/fix-lynx-canvas-resize_2023-10-18-06-37.json
  packages/vrender-kits/src/canvas/contributions/lynx/canvas.ts
  packages/vrender-kits/src/env/contributions/lynx-contribution.ts
  packages/vrender-kits/src/window/contributions/lynx-contribution.ts
Labels: kits

#597 feat: optimize the interaction of slider and scrollbar in non-browser…
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/slider/slider.ts
Labels: components

#600 Fix/line or area data label
  common/changes/@visactor/vrender-components/fix-line-or-area-data-label_2023-10-19-08-04.json
  packages/vrender-components/src/label/base.ts
Labels: components

#606 Sync main
  common/changes/@visactor/vrender-components/feat-data-zoom-enhance_2023-09-25-06-01.json
  common/changes/@visactor/vrender-components/feat-datazoom-scrollbar-enhance_2023-10-11-09-15.json
  common/changes/@visactor/vrender-core/feat-check-env_2023-10-19-09-42.json
  common/changes/@visactor/vrender-core/fix-lark-canvasid_2023-10-19-06-35.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-core/CHANGELOG.json
  packages/vrender-core/CHANGELOG.md
  packages/vrender-core/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs

#605 fix: fix merge error
  common/changes/@visactor/vrender-components/fix-merge-error_2023-10-20-03-01.json
  packages/vrender-components/src/scrollbar/scrollbar.ts
Labels: components

#610 fix: fix demo start issue
  common/config/rush/pnpm-lock.yaml
  packages/vrender/__tests__/browser/src/pages/arc.ts
  packages/vrender/package.json
Labels: core

#611 Fix/legend layout error
  common/changes/@visactor/vrender-components/fix-legend-layout-error_2023-10-23-02-50.json
  packages/vrender-components/__tests__/unit/bugfix/legend-focus-layout.test.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#604 Feat/axis label
  common/changes/@visactor/vrender-components/feat-axis-label_2023-10-20-03-03.json
  packages/vrender-components/__tests__/unit/axis/circle.test.ts
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/circle.ts
  packages/vrender-components/src/axis/util.ts
Labels: components

#615 Fix/label clamp force with overlap padding
  common/changes/@visactor/vrender-components/develop_2023-10-23-07-49.json
  packages/vrender-components/src/label/base.ts
Labels: components

#618 【0.16.8 hotfix】Fix/legend focus
  common/changes/@visactor/vrender-components/fix-legend-focus_2023-10-23-09-26.json
  packages/vrender-components/__tests__/unit/bugfix/legend-focus-layout.test.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#621 Sync main
  common/changes/@visactor/vrender-components/fix-legend-focus_2023-10-23-09-26.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-core/CHANGELOG.json
  packages/vrender-core/CHANGELOG.md
  packages/vrender-core/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs

#623 Fix/datazoom text bounds
  common/changes/@visactor/vrender-components/fix-datazoom-text-bounds_2023-10-24-03-54.json
  packages/vrender-components/__tests__/browser/examples/data-zoom-text-visible.ts
  packages/vrender-components/__tests__/browser/examples/data-zoom.ts
  packages/vrender-components/__tests__/unit/data-zoom.test.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
Labels: components

#624 Fix/axis and marker
  common/changes/@visactor/vrender-components/fix-axis-and-marker_2023-10-24-10-02.json
  common/changes/@visactor/vrender-components/fix-axis-and-marker_2023-10-24-10-03.json
  packages/vrender-components/src/axis/overlap/auto-hide.ts
  packages/vrender-components/src/marker/base.ts
  packages/vrender-components/src/marker/line.ts
  packages/vrender-components/src/marker/point.ts
Labels: components

#627 feat: add checkbox indeterminate
  common/changes/@visactor/vrender-components/feat-checkbox-indeterminate_2023-10-26-06-10.json
  packages/vrender-components/__tests__/browser/examples/checkbox.ts
  packages/vrender-components/src/checkbox/checkbox.ts
  packages/vrender-components/src/checkbox/type.ts
Labels: components

#595 Feat/more rect label position
  common/changes/@visactor/vrender-components/feat-more_rect_label_position_2023-10-18-08-22.json
  packages/vrender-components/__tests__/browser/examples/label-rect-horizontal.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/src/core/base.ts
  packages/vrender-components/src/label/rect.ts
  packages/vrender-components/src/label/type.ts
Labels: components
