Repository VisActor/VRender, pull requests merged in 2023-08, with the labels that each got.

#223 Fix/data zoom callback
  common/changes/@visactor/vrender-components/feat-marker-formatMethod_2023-07-27-07-27.json
  common/changes/@visactor/vrender-components/feat-marker-formatMethod_2023-07-27-08-37.json
  common/changes/@visactor/vrender-components/fix-dataZoom-callback_2023-07-27-11-28.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-set-state.ts
  packages/vrender-components/__tests__/browser/examples/mark-area.ts
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/__tests__/browser/examples/mark-point.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/data-zoom/type.ts
  packages/vrender-components/src/marker/type.ts
  packages/vrender-components/src/tag/tag.ts
  packages/vrender-components/src/tag/type.ts
Labels: components

#234 fix: fix the issue of arc bounds while outerRadius is smaller than in…
  common/changes/@visactor/vrender/fix-arc-bounds_2023-07-31-11-44.json
  common/changes/@visactor/vrender/fix-line-progress_2023-07-31-11-41.json
  packages/vrender/src/graphic/graphic-service/graphic-service.ts
  packages/vrender/src/render/contributions/render/arc-render.ts
  packages/vrender/src/render/contributions/render/arc3d-render.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/circle-render.ts
  packages/vrender/src/render/contributions/render/group-render.ts
  packages/vrender/src/render/contributions/render/image-render.ts
  packages/vrender/src/render/contributions/render/incremental-area-render.ts
  packages/vrender/src/render/contributions/render/incremental-line-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
  packages/vrender/src/render/contributions/render/path-render.ts
  packages/vrender/src/render/contributions/render/polygon-render.ts
  packages/vrender/src/render/contributions/render/pyramid3d-render.ts
  packages/vrender/src/render/contributions/render/rect-render.ts
  packages/vrender/src/render/contributions/render/rect3d-render.ts
  packages/vrender/src/render/contributions/render/richtext-render.ts
  packages/vrender/src/render/contributions/render/symbol-render.ts
  packages/vrender/src/render/contributions/render/text-render.ts
  packages/vrender/src/render/contributions/render/utils.ts
Labels: core

#236 fix: fix the issue when the segment points is empty, closed #230
  packages/vrender/src/common/render-curve.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
Labels: core

#227 Fix/discrete legend item max width
  common/autoinstallers/lint/commitlint.config.js
  common/changes/@visactor/vrender-components/fix-discrete-legend-item-maxWidth_2023-07-28-07-36.json
  packages/vrender-components/__tests__/unit/legend/discrete.test.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components, chore

#244 fix: support no referenceNode in insertBefore() and insertAfter()
  packages/vrender/src/graphic/node-tree.ts
Labels: core

#241 Fix/segment symbol auto rotate
  common/changes/@visactor/vrender-components/fix-segment-symbol-autoRotate_2023-08-01-14-14.json
  common/changes/@visactor/vrender/fix-segment-symbol-autoRotate_2023-08-01-14-14.json
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/src/segment/segment.ts
  packages/vrender-components/src/segment/type.ts
Labels: components

#240 Fix/marker format
  common/changes/@visactor/vrender-components/fix-marker-format_2023-08-01-08-00.json
  common/changes/@visactor/vrender-components/fix-marker-format_2023-08-01-08-56.json
  common/changes/@visactor/vrender-components/fix-marker-format_2023-08-01-12-39.json
  common/changes/@visactor/vrender-components/pre-release-0.13.7-alpha.1_2023-08-01-08-59.json
  packages/vrender-components/__tests__/browser/examples/mark-area.ts
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/__tests__/browser/examples/mark-point.ts
  packages/vrender-components/src/marker/type.ts
  packages/vrender-components/src/tag/tag.ts
  packages/vrender-components/src/tag/type.ts
Labels: components

#229 Refactor/label clampforce timing
  common/changes/@visactor/vrender-components/feat-label_custom_layout_2023-07-21-07-11.json
  packages/vrender-components/__tests__/browser/examples/label-line.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/overlap/place.ts
  packages/vrender-components/src/label/rect.ts
  packages/vrender-components/src/label/symbol.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#245 feat: support vertical text layout
  common/changes/@visactor/vrender/feat-vertical-text_2023-08-03-11-21.json
  docs/demos/src/pages/richtext.ts
  docs/demos/src/pages/text.ts
  packages/vrender/src/core/contributions/textMeasure/AtextMeasure.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/graphic/tools.ts
  packages/vrender/src/interface/graphic/text.ts
  packages/vrender/src/interface/text.ts
  packages/vrender/src/render/contributions/render/text-render.ts
Labels: core, docs

#239 feat: add basic logic of connect line and area, closed #109
  common/changes/@visactor/vrender/feat-connected-line-area_2023-08-01-12-30.json
  docs/demos/src/pages/area.ts
  docs/demos/src/pages/line.ts
  packages/vrender/src/common/render-area.ts
  packages/vrender/src/common/render-curve.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/interface/graphic/area.ts
  packages/vrender/src/interface/graphic/line.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
Labels: core, docs

#259 Dev/0.14.0 sync main
  common/autoinstallers/lint/commitlint.config.js
  common/changes/@visactor/vrender-components/feat-label_custom_layout_2023-07-21-07-11.json
  common/changes/@visactor/vrender-components/fix-interactive-layer-create_2023-07-27-10-01.json
  common/changes/@visactor/vrender/fix-arc-bounds_2023-07-31-11-44.json
  common/changes/@visactor/vrender/fix-area-stroke_2023-07-27-11-48.json
  common/changes/@visactor/vrender/fix-interactive-layer-create_2023-07-27-10-01.json
  common/changes/@visactor/vrender/fix-line-progress_2023-07-31-11-41.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/demos/src/pages/wrap-text.ts
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-set-state.ts
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/__tests__/unit/legend/discrete.test.ts
  packages/vrender-components/package.json
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/data-zoom/type.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/marker/type.ts
  packages/vrender-components/src/segment/segment.ts
  packages/vrender-components/src/segment/type.ts
  packages/vrender-components/src/tag/type.ts
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  packages/vrender/src/common/render-curve.ts
  packages/vrender/src/graphic/node-tree.ts
  packages/vrender/src/graphic/wrap-text.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
Labels: core, react, react-utils, components, kits, docs, chore

#261 feat: set default and invilid connectType to none, closed #109
  docs/demos/src/pages/area.ts
  docs/demos/src/pages/line.ts
  packages/vrender/src/common/render-area.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
Labels: core, docs

#262 feat: label component support avoidMarks
  common/changes/@visactor/vrender-components/feat-label_avoid_mark_2023-08-03-02-17.json
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/util/common.ts
Labels: components

#263 feat: support flex layout, closed #152
  common/changes/@visactor/vrender/feat-layout_2023-08-04-07-38.json
  docs/demos/src/pages/flex.ts
  docs/demos/src/pages/index.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/interface/graphic/group.ts
  packages/vrender/src/interface/stage.ts
  packages/vrender/src/plugins/builtin-plugin/flex-layout-plugin.ts
Labels: core, docs

#267 feat: support text word-break, closed #235
  common/changes/@visactor/vrender/feat-text-wordBreak_2023-08-07-07-54.json
  docs/demos/src/pages/richtext.ts
  docs/demos/src/pages/text.ts
  packages/vrender/src/core/contributions/textMeasure/AtextMeasure.ts
  packages/vrender/src/core/contributions/textMeasure/layout.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/interface/graphic/text.ts
  packages/vrender/src/interface/text.ts
Labels: core, docs

#252 perf: enhance the effect of requestAnimationFrame in miniapp, closed …
  common/changes/@visactor/vrender/perf-raf-based-sto_2023-08-03-11-24.json
  packages/vrender/src/common/utils.ts
  packages/vrender/src/core/contributions/env/feishu-contribution.ts
  packages/vrender/src/core/contributions/env/lynx-contribution.ts
  packages/vrender/src/core/contributions/env/node-contribution.ts
  packages/vrender/src/core/contributions/env/wx-contribution.ts
Labels: core

#269 feat: support animate-bind event, closed #264
  common/changes/@visactor/vrender/feat-onAnimateBind_2023-08-07-08-26.json
  packages/vrender/src/graphic/graphic.ts
Labels: core

#271 fix: fix the issue of line connect, closed #109
  packages/vrender/src/common/render-curve.ts
Labels: core

#273 fix(components): overlap bitmap test will intercept invalid range met…
  common/changes/@visactor/vrender-components/fix-issue-265_2023-08-07-10-37.json
  packages/vrender-components/src/label/overlap/bitmap.ts
Labels: components

#278 Feat/add brush operate type
  common/changes/@visactor/vrender-components/feat-add-brush-operate-type_2023-08-04-12-30.json
  common/changes/@visactor/vrender-components/feat-add-brush-operate-type_2023-08-08-03-11.json
  packages/vrender-components/__tests__/browser/examples/brush.ts
  packages/vrender-components/src/brush/brush.ts
  packages/vrender-components/src/brush/config.ts
  packages/vrender-components/src/brush/type.ts
  packages/vrender-components/src/tooltip/util.ts
Labels: components

#284 fix: fix the issue of text bounding box height, closed #257
  common/changes/@visactor/vrender/fix-big-text-bounds_2023-08-09-07-01.json
  docs/demos/src/pages/text.ts
  packages/vrender/src/common/text.ts
  packages/vrender/src/graphic/text.ts
Labels: core, docs

#277 Refactor/global window rename
  common/changes/@visactor/vrender-components/refactor-global-window-rename_2023-07-24-11-31.json
  common/changes/@visactor/vrender/refactor-global-window-rename_2023-07-24-11-31.json
  docs/demos/src/contribution/env-canvas/window-contribution.ts
  docs/demos/src/core/stage.ts
  multi-platform/wx-vrender/miniprogram/pages/gallery/pages/gallary.ts
  packages/vrender-components/src/brush/brush.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/player/continuous-player.ts
  packages/vrender-components/src/player/discrete-player.ts
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/slider/slider.ts
  packages/vrender/src/constants.ts
  packages/vrender/src/core/contributions/layerHandler/canvas2d-contribution.ts
  packages/vrender/src/core/contributions/layerHandler/offscreen2d-contribution.ts
  packages/vrender/src/core/contributions/window/browser-contribution.ts
  packages/vrender/src/core/contributions/window/feishu-contribution.ts
  packages/vrender/src/core/contributions/window/lynx-contribution.ts
  packages/vrender/src/core/contributions/window/native-contribution.ts
  packages/vrender/src/core/contributions/window/node-contribution.ts
  packages/vrender/src/core/contributions/window/taro-contribution.ts
  packages/vrender/src/core/contributions/window/wx-contribution.ts
  packages/vrender/src/core/core-modules.ts
  packages/vrender/src/core/global-module.ts
  packages/vrender/src/core/graphic-utils.ts
  packages/vrender/src/core/layer-service.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/core/window.ts
  packages/vrender/src/modules.ts
  packages/vrender/src/picker/canvas-picker-service.ts
  packages/vrender/src/picker/global-picker-service.ts
  packages/vrender/src/picker/math-picker-service.ts
  packages/vrender/src/picker/picker-service.ts
  packages/vrender/src/render/contributions/render/incremental-draw-contribution.ts
Labels: core, components, docs

#286 feat(brush): add sizeThreshold setting
  common/changes/@visactor/vrender-components/feat-add-brush-operate-type_2023-08-09-08-09.json
  packages/vrender-components/__tests__/browser/examples/brush.ts
  packages/vrender-components/src/brush/brush.ts
  packages/vrender-components/src/brush/config.ts
  packages/vrender-components/src/brush/type.ts
Labels: components

#268 Feat/containerAlign for line axis
  common/changes/@visactor/vrender-components/feat-containerAlign-for-line-axis_2023-08-06-10-02.json
  common/changes/@visactor/vrender-components/feat-containerAlign-for-line-axis_2023-08-07-14-20.json
  common/changes/@visactor/vrender-components/feat-containerAlign-for-line-axis_2023-08-07-15-45.json
  common/changes/@visactor/vrender-components/feat-containerAlign-for-line-axis_2023-08-08-15-25.json
  packages/vrender-components/__tests__/browser/examples/axis-interaction.ts
  packages/vrender-components/__tests__/browser/examples/cartesian-axis-label-align.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/__tests__/unit/axis/line.test.ts
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/circle.ts
  packages/vrender-components/src/axis/constant.ts
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/axis/overlap/auto-rotate.ts
  packages/vrender-components/src/axis/type.ts
  packages/vrender-components/src/util/align.ts
Labels: components

#296 fix: fix the error of raf in miniapp env
  packages/vrender/src/common/utils.ts
Labels: core

#216 Feat/arc label
  common/changes/@visactor/vrender-components/feat-arc-label_2023-08-04-09-38.json
  common/changes/@visactor/vrender-components/feat-arc-label_2023-08-08-11-20.json
  common/changes/@visactor/vrender-components/feat-label_custom_layout_2023-07-21-07-11.json
  common/changes/@visactor/vrender-components/fix-interactive-layer-create_2023-07-27-10-01.json
  common/changes/@visactor/vrender/fix-area-stroke_2023-07-27-11-48.json
  common/changes/@visactor/vrender/fix-interactive-layer-create_2023-07-27-10-01.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/dataLabel.ts
  packages/vrender-components/src/label/index.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/label/util.ts
Labels: components

#297 Fix/text bottom baseline
  docs/demos/src/pages/text.ts
  packages/vrender/src/graphic/text.ts
Labels: core, docs

#300 fix: rightArc label position offset
  packages/vrender-components/src/label/arc.ts
Labels: components

#302 chore: upgrade dependence
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
  share/ts-config/tsconfig.base.json
Labels: core, react, react-utils, components, kits, docs, typescript

#308 chore: set target to es2016
  common/changes/@visactor/vrender/chore-target-version_2023-08-11-09-18.json
  packages/vrender/src/animate/default-ticker.ts
  share/ts-config/tsconfig.base.json
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/tasks/modules.ts
Labels: core, bundler, typescript

#305 Feat/arc label resize cannot update label line
  packages/vrender-components/src/label/base.ts
Labels: components

#311 Sync 0.14.2
  common/changes/@visactor/vrender/chore-target-version_2023-08-11-09-18.json
  common/changes/@visactor/vrender/fix-safari-text_2023-08-10-08-41.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#306 Feat/marker clip range
  common/changes/@visactor/vrender-components/feat-marker-clipRange_2023-08-10-10-07.json
  common/changes/@visactor/vrender/feat-marker-clipRange_2023-08-10-10-07.json
  packages/vrender-components/__tests__/browser/examples/mark-area.ts
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/__tests__/browser/examples/mark-point.ts
  packages/vrender-components/__tests__/unit/marker/area.test.ts
  packages/vrender-components/__tests__/unit/marker/line.test.ts
  packages/vrender-components/__tests__/unit/marker/point.test.ts
  packages/vrender-components/src/marker/base.ts
  packages/vrender-components/src/marker/type.ts
Labels: components

#315 feat: add legendItemAttributeUpdate event in legend
  common/changes/@visactor/vrender-components/feat-legend-update-attribute-event_2023-08-15-10-36.json
  packages/vrender-components/src/legend/constant.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#310 feat/ change labelLine of arc label from path mark to line mark
  common/changes/@visactor/vrender-components/feat-arc-label_2023-08-13-15-14.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#325 feat: remove duplicate code when deconflicting
  packages/vrender-components/src/label/base.ts
Labels: components

#321 fix: fix wrapText line cut error
  common/changes/@visactor/vrender/fix-wrap-text-line-cut_2023-08-16-02-59.json
  docs/demos/src/pages/wrap-text.ts
  packages/vrender/src/graphic/wrap-text.ts
Labels: core, docs

#316 Fix/components bugs： legend and axis bug （跟版 0.14.3）
  common/changes/@visactor/vrender-components/fix-components-bugs_2023-08-15-10-44.json
  packages/vrender-components/__tests__/unit/legend/discrete.test.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#312 feat: support html attribute plugin, closed #153
  common/changes/@visactor/vrender/feat-html-attribute_2023-08-14-06-34.json
  docs/demos/src/pages/html.ts
  docs/demos/src/pages/index.ts
  docs/demos/src/pages/text.ts
  packages/vrender/src/core/contributions/env/base-contribution.ts
  packages/vrender/src/core/contributions/env/browser-contribution.ts
  packages/vrender/src/core/global.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/global.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/interface/render.ts
  packages/vrender/src/interface/stage.ts
  packages/vrender/src/plugins/builtin-plugin/html-attribute-plugin.ts
  packages/vrender/src/render/contributions/render/draw-contribution.ts
  packages/vrender/src/render/render-service.ts
Labels: core, docs

#314 feat: symbol support more type and support svg format, closed #110 #313
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/demos/src/pages/symbol.ts
  packages/vrender/package.json
  packages/vrender/src/graphic/builtin-symbol/arrow2-down.ts
  packages/vrender/src/graphic/builtin-symbol/arrow2-left.ts
  packages/vrender/src/graphic/builtin-symbol/arrow2-right.ts
  packages/vrender/src/graphic/builtin-symbol/arrow2-up.ts
  packages/vrender/src/graphic/builtin-symbol/close.ts
  packages/vrender/src/graphic/builtin-symbol/index.ts
  packages/vrender/src/graphic/builtin-symbol/line-h.ts
  packages/vrender/src/graphic/builtin-symbol/line-v.ts
  packages/vrender/src/graphic/builtin-symbol/utils.ts
  packages/vrender/src/graphic/constants.ts
  packages/vrender/src/graphic/symbol.ts
  packages/vrender/src/interface/graphic/symbol.ts
  packages/vrender/src/picker/contributions/canvas-picker/symbol-picker.ts
  packages/vrender/src/picker/pick-interceptor.ts
  packages/vrender/src/render/contributions/render/symbol-render.ts
Labels: core, docs

#328 Feat/smart invert fill stroke strategy
  common/changes/@visactor/vrender-components/feat-smartInvert-fill-stroke-strategy_2023-08-16-11-57.json
  packages/vrender-components/__tests__/browser/examples/label-smart-inverse.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/util/labelSmartInvert.ts
Labels: components

#330 Fix/axis label align
  common/changes/@visactor/vrender-components/fix-axis-label-align_2023-08-17-06-47.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/circle.ts
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/axis/overlap/auto-rotate.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#335 fix: targetCenterOffset repeated multiplication calculation
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
Labels: components

#336 Version release/0.13.13
  .github/workflows/release.yml
  common/changes/@visactor/vrender-components/feat-legend-update-attribute-event_2023-08-15-10-36.json
  common/changes/@visactor/vrender-components/feat-marker-clipRange_2023-08-10-10-07.json
  common/changes/@visactor/vrender/feat-marker-clipRange_2023-08-10-10-07.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#333 Feat/ handle inverse color for no stroke and configuration stroke
  packages/vrender-components/__tests__/browser/examples/label-smart-inverse.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#344 fix: fix _prePointTargetCache error in EventManager
  common/changes/@visactor/vrender/fix-event-point-cache_2023-08-21-09-53.json
  packages/vrender/src/event/event-manager.ts
Labels: core

#345 feat: richtext support xul describe, closed #292
  docs/demos/src/pages/jsx.tsx
  docs/demos/src/pages/richtext.ts
  docs/demos/src/pages/symbol.ts
  packages/vrender/src/graphic/tools.ts
  packages/vrender/src/jsx/graphicType.ts
  packages/vrender/src/jsx/jsx-classic.ts
  packages/vrender/tsconfig.eslint.json
Labels: core, docs, typescript

#332 chore: fix export of buggserver-trigger
  .github/workflows/bug-server.yml
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/tsconfig.json
  packages/vrender/package.json
  rush.json
  tools/bugserver-trigger/.bundle/config
  tools/bugserver-trigger/.eslintrc.js
  tools/bugserver-trigger/bundler.config.js
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/scripts/trigger-test.ts
  tools/bugserver-trigger/src/index.ts
  tools/bugserver-trigger/tsconfig.eslint.json
  tools/bugserver-trigger/tsconfig.json
Labels: core, components, typescript

#331 feat: toCanvas api support viewBox params, closed #272
  docs/demos/src/pages/symbol.ts
  packages/vrender/src/core/layer.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/interface/stage.ts
Labels: core, docs

#351 fix: fix the issue with poptip, closed #322
  common/changes/@visactor/vrender-components/fix-poptip-position_2023-08-22-08-20.json
  packages/vrender-components/src/poptip/poptip.ts
Labels: components

#350 fix: fix the outerBorder issue with false stroke, closed #342
  common/changes/@visactor/vrender/fix-outerBorder_2023-08-22-07-01.json
  docs/demos/src/pages/symbol.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/render/contributions/render/contributions/arc-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/circle-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/rect-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/symbol-contribution-render.ts
Labels: core, docs

#349 fix: fix the issue of * event invalidation when * and named event exi…
  common/changes/@visactor/vrender-components/fix-event-wildcard_2023-08-22-02-58.json
  common/changes/@visactor/vrender/fix-event-wildcard_2023-08-22-02-58.json
  packages/vrender/src/event/event-manager.ts
Labels: core

#346 feat: config pickable: flase as default
  common/changes/@visactor/vrender-components/feat-arc-label_2023-08-22-03-12.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
Labels: components

#354 Fix/slider with same range
  common/changes/@visactor/vrender-components/fix-slider-with-same-range_2023-08-22-11-04.json
  packages/vrender-components/__tests__/browser/examples/slider.ts
  packages/vrender-components/__tests__/browser/vite.config.ts
  packages/vrender-components/src/slider/slider.ts
Labels: components

#352 fix: fix the issue with outerborder gradient color, closed #343
  common/changes/@visactor/vrender/fix-outerBorder-gradientColor_2023-08-22-09-35.json
  docs/demos/src/pages/symbol.ts
  packages/vrender/src/render/contributions/render/contributions/arc-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/circle-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/rect-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/symbol-contribution-render.ts
Labels: core, docs

#355 fix: wrapText support wordBreak
  docs/demos/src/pages/wrap-text.ts
  packages/vrender/src/graphic/index.ts
  packages/vrender/src/graphic/wrap-text.ts
Labels: core, docs

#362 feat: regard - as english character
  packages/vrender/src/graphic/richtext/utils.ts
Labels: core

#363 Fix/flex for vtable
  docs/demos/src/pages/flex.ts
  docs/demos/src/pages/image.ts
  docs/demos/src/pages/jsx.tsx
  docs/demos/src/pages/wrap-text.ts
  docs/demos/vite.config.ts
  packages/vrender-components/src/index.ts
  packages/vrender-components/src/jsx/component-type.ts
  packages/vrender-components/src/jsx/index.ts
  packages/vrender/src/common/enums.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/graphic/group.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/interface/graphic/image.ts
  packages/vrender/src/jsx/graphicType.ts
  packages/vrender/src/jsx/jsx-classic.ts
  packages/vrender/src/plugins/builtin-plugin/flex-layout-plugin.ts
  packages/vrender/src/render/contributions/render/contributions/image-contribution-render.ts
  packages/vrender/src/render/contributions/render/image-render.ts
  packages/vrender/src/render/contributions/render/utils.ts
Labels: core, components, docs

#358 feat: enhance timeline funciton, closed #348
  common/changes/@visactor/vrender/feat-timeline-enhance_2023-08-23-13-07.json
  docs/demos/src/pages/animate.ts
  packages/vrender/src/animate/animate.ts
  packages/vrender/src/animate/timeline.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/interface/animate.ts
  packages/vrender/src/interface/stage.ts
Labels: core, docs

#369 fix: pass fontFamily in measureText
  common/changes/@visactor/vrender/fix-measure-text_2023-08-25-02-39.json
  docs/demos/src/pages/text.ts
  packages/vrender-components/__tests__/unit/pager.test.ts
  packages/vrender/__tests__/graphic/graphic-bounds.test.ts
  packages/vrender/src/graphic/text.ts
Labels: core, components, docs

#385 fix: increase robustness for wx compatibility
  common/changes/@visactor/vrender/develop_2023-08-28-10-27.json
  packages/vrender/src/core/contributions/env/wx-contribution.ts
Labels: core

#377 Fix/axis auto hide with flush
  common/changes/@visactor/vrender-components/fix-axis-autoHide-with-flush_2023-08-28-03-30.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/axis/type.ts
Labels: components

#384 refactor: change vglobal to application.global
  common/changes/@visactor/vrender/fix-vglobal_2023-08-28-12-13.json
  packages/vrender/src/graphic/text.ts
Labels: core

#383 Fix/set dpr
  common/changes/@visactor/vrender/fix-setDpr_2023-08-28-08-06.json
  docs/demos/src/pages/text.ts
  packages/vrender/src/canvas/contributions/browser/canvas.ts
  packages/vrender/src/core/contributions/layerHandler/canvas2d-contribution.ts
  packages/vrender/src/core/contributions/layerHandler/offscreen2d-contribution.ts
  packages/vrender/src/core/layer.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/interface/layer.ts
  packages/vrender/src/interface/stage.ts
Labels: core, docs

#391 feat: text limit ignore wordBreak
  common/changes/@visactor/vrender/feat-text-limit-wordBreak_2023-08-29-03-34.json
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/graphic/wrap-text.ts
Labels: core

#379 Feat/polygon label
  common/changes/@visactor/vrender-components/feat-polygon-label_2023-08-23-08-42.json
  common/changes/@visactor/vrender-components/feat-polygon-label_2023-08-29-07-23.json
  packages/vrender-components/__tests__/browser/examples/label-polygon.ts
  packages/vrender-components/__tests__/browser/examples/label-symbol.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/__tests__/util/render.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/dataLabel.ts
  packages/vrender-components/src/label/overlap/place.ts
  packages/vrender-components/src/label/polygon.ts
  packages/vrender-components/src/label/rect.ts
  packages/vrender-components/src/label/symbol.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/util/labelSmartInvert.ts
Labels: components

#393 fix: if angle is 0 or not set, ignore autoRotate adjust
  packages/vrender-components/src/axis/overlap/auto-rotate.ts
Labels: components

#394 fix: fix the issue of area stroke, closed #392
  common/changes/@visactor/vrender/develop_2023-08-29-07-53.json
  packages/vrender/src/render/contributions/render/area-render.ts
Labels: core

#395 Fix/brush event
  common/changes/@visactor/vrender-components/fix-brush-event_2023-08-29-08-35.json
  common/changes/@visactor/vrender/fix-brush-event_2023-08-29-08-35.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/src/brush/brush.ts
Labels: components

#399 fix: fix poptip plugin bind problem
  packages/vrender-components/src/poptip/register.ts
  packages/vrender/src/common/contribution-provider.ts
  packages/vrender/src/plugins/plugin-modules.ts
Labels: core, components

#402 fix: fix font family unit test issue
  docs/demos/package.json
  docs/demos/src/pages/text.ts
  packages/vrender-components/__tests__/unit/pager.test.ts
  packages/vrender-components/src/util/text.ts
  packages/vrender/__tests__/graphic/graphic-bounds.test.ts
  packages/vrender/src/graphic/text.ts
Labels: core, components, docs

#380 feat: support poptip auto wrap
  packages/vrender-components/__tests__/browser/examples/poptip.ts
  packages/vrender-components/src/poptip/poptip.ts
Labels: components

#408 chore: fix the tsconfig of packages
  docs/demos/tsconfig.json
  packages/react-vrender-utils/tsconfig.json
  packages/react-vrender/tsconfig.json
  packages/vrender-components/tsconfig.json
  packages/vrender-kits/tsconfig.json
  packages/vrender/tsconfig.json
Labels: core, react, react-utils, components, kits, docs, typescript

#404 fix: increase IntersectionObserver robustness in browser env
  common/changes/@visactor/vrender/fix-IntersectionObserver_2023-08-31-02-27.json
  packages/vrender/src/core/contributions/window/browser-contribution.ts
Labels: core

#403 fix/rose chart label layout
  common/changes/@visactor/vrender-components/feat-rose-chart-label-layout_2023-08-31-07-42.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/base.ts
Labels: components

#367 fix: player visible error and rename events
  packages/vrender-components/__tests__/browser/examples/player.ts
  packages/vrender-components/src/player/base-player.ts
  packages/vrender-components/src/player/constant.ts
  packages/vrender-components/src/player/continuous-player.ts
  packages/vrender-components/src/player/controller/controller.ts
  packages/vrender-components/src/player/controller/type.ts
  packages/vrender-components/src/player/discrete-player.ts
  packages/vrender-components/src/player/type/continuous-player.ts
  packages/vrender-components/src/player/type/event.ts
  packages/vrender-components/src/player/type/layout.ts
Labels: components
