Repository VisActor/VRender, pull requests merged in 2023-09, with the labels that each got.

#434 fix: fix the issue with html position
  docs/demos/src/pages/html.ts
  packages/vrender/src/core/contributions/env/base-contribution.ts
  packages/vrender/src/core/contributions/env/browser-contribution.ts
  packages/vrender/src/core/contributions/window/base-contribution.ts
  packages/vrender/src/core/contributions/window/browser-contribution.ts
  packages/vrender/src/core/global.ts
  packages/vrender/src/core/window.ts
  packages/vrender/src/interface/global.ts
  packages/vrender/src/interface/window.ts
  packages/vrender/src/plugins/builtin-plugin/html-attribute-plugin.ts
Labels: core, docs

#425 feat: line support closePath attribute as another definition of linea…
  common/changes/@visactor/vrender/feat-closePath-line_2023-09-01-06-52.json
  docs/demos/src/pages/line.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/graphic/line.ts
  packages/vrender/src/render/contributions/render/line-render.ts
Labels: core, docs

#447 fix: fix poptip display problem
  packages/vrender/src/core/stage.ts
  packages/vrender/src/graphic/text.ts
Labels: core

#456 Feat/poptip sync
  common/changes/@visactor/vrender/feat-poptip-formatMethod_2023-09-04-02-35.json
  packages/vrender-components/__tests__/browser/examples/poptip.ts
  packages/vrender-components/src/poptip/contribution.ts
  packages/vrender-components/src/poptip/poptip.ts
  packages/vrender-components/src/poptip/type.ts
Labels: components

#452 feat: add scaleCenter
  common/changes/@visactor/vrender/feat-scale-center_2023-09-06-08-17.json
  docs/demos/src/pages/rect.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/interface/graphic.ts
Labels: core, docs

#451 Feat/editor
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/vrender/__tests__/browser/src/pages/area.ts
  packages/vrender/__tests__/browser/src/pages/editor.ts
  packages/vrender/__tests__/browser/src/pages/editor/draggable-plugin.ts
  packages/vrender/__tests__/browser/src/pages/editor/register.ts
  packages/vrender/__tests__/browser/src/pages/editor/transform-component.ts
  packages/vrender/__tests__/browser/src/pages/editor/transform-component2.ts
  packages/vrender/__tests__/browser/src/pages/flex.ts
  packages/vrender/__tests__/browser/src/pages/index.ts
  packages/vrender/__tests__/browser/src/pages/text.ts
  packages/vrender/__tests__/browser/src/pages/wrap-text.ts
  packages/vrender/__tests__/browser/tsconfig.json
  packages/vrender/__tests__/browser/vite.config.ts
  packages/vrender/src/core/contributions/window/browser-contribution.ts
  packages/vrender/src/core/graphic-utils.ts
  packages/vrender/src/event/event-manager.ts
  packages/vrender/src/event/event-system.ts
  packages/vrender/src/event/federated-event/pointer-event.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/index.ts
  packages/vrender/src/interface/core.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/interface/picker.ts
  packages/vrender/src/picker/canvas-picker-service.ts
  packages/vrender/src/picker/contributions/canvas-picker/glyph-picker.ts
  packages/vrender/src/picker/contributions/canvas-picker/group-picker.ts
  packages/vrender/src/picker/contributions/canvas-picker/module.ts
  packages/vrender/src/picker/contributions/constants.ts
  packages/vrender/src/picker/contributions/math-picker/glyph-picker.ts
  packages/vrender/src/picker/global-picker-service.ts
  packages/vrender/src/picker/math-picker-service.ts
  packages/vrender/src/picker/pick-interceptor.ts
  packages/vrender/src/picker/pick-modules.ts
  packages/vrender/src/picker/picker-service.ts
  packages/vrender/src/plugins/builtin-plugin/html-attribute-plugin.ts
  packages/vrender/src/render/contributions/render/draw-interceptor.ts
Labels: core, docs

#410 Chore/release scripts
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/config/rush/version-policies.json
  common/scripts/apply-prerelease-version.js
  common/scripts/get-package-json.js
  common/scripts/parse-version.js
  common/scripts/pre-release.js
  common/scripts/release.js
  common/scripts/set-json-file.js
  common/scripts/set-prerelease-version.js
  common/scripts/version-policies.js
  rush.json
Labels: chore

#453 Fix/rose chart label conflict with legend
  common/changes/@visactor/vrender-components/fix-rose-label-related-to-arcMark-order_2023-09-06-09-09.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#422 fix: increase the robustness of segments
  common/changes/@visactor/vrender/fix-line-segments_2023-09-01-06-54.json
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
Labels: core

#458 Fix/overwrite function
  common/changes/@visactor/react-vrender-utils/fix-overwrite-function_2023-09-07-04-06.json
  common/changes/@visactor/react-vrender/fix-overwrite-function_2023-09-07-04-06.json
  common/changes/@visactor/vrender-components/fix-overwrite-function_2023-09-07-04-06.json
  common/changes/@visactor/vrender-kits/fix-overwrite-function_2023-09-07-04-06.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/src/core/base.ts
Labels: components

#433 feat: pie label line support smooth line
  common/changes/@visactor/vrender-components/feat-pie-label-smooth-line_2023-09-06-09-13.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/type.ts
  tools/bugserver-trigger/package.json
Labels: components, docs

#462 fix: update labelLine visible when animation is enable
  common/changes/@visactor/vrender-components/fix-labelLine-animation_2023-09-08-03-02.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/base.ts
Labels: core, react, react-utils, components, kits, docs, jest, chore, eslint, typescript

#467 fix: fix empty items error in axis component when label flush is true
  common/changes/@visactor/vrender-components/fix-axis-label-flush-empty_2023-09-11-10-23.json
  packages/vrender-components/src/axis/line.ts
Labels: components

#455 Fix/component event without native event
  common/changes/@visactor/react-vrender-utils/fix-component-event-without-nativeEvent_2023-09-06-04-11.json
  common/changes/@visactor/react-vrender/fix-component-event-without-nativeEvent_2023-09-06-04-11.json
  common/changes/@visactor/vrender-components/fix-component-event-without-nativeEvent_2023-09-06-04-11.json
  common/changes/@visactor/vrender-kits/fix-component-event-without-nativeEvent_2023-09-06-04-11.json
  packages/vrender-components/__tests__/browser/examples/discrete-legend.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/pager/pager.ts
Labels: components

#459 docs: update the structure of guide documents
  docs/assets/guide/en/asd/Basic/How_to_Get_VRender.md
  docs/assets/guide/en/asd/Basic/How_to_Import_VRender.md
  docs/assets/guide/en/asd/Basic_Tutorial/Animate.md
  docs/assets/guide/en/asd/Basic_Tutorial/Cross_platform_Interface.md
  docs/assets/guide/en/asd/Basic_Tutorial/Events_and_Animation.md
  docs/assets/guide/en/asd/Basic_Tutorial/Extensions_and_Plugins.md
  docs/assets/guide/en/asd/Getting_Started.md
  docs/assets/guide/en/asd/VRender_Website_Guide.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/asd/Basic/How_to_Get_VRender.md
  docs/assets/guide/zh/asd/Basic/How_to_Import_VRender.md
  docs/assets/guide/zh/asd/Basic_Tutorial/Animate.md
  docs/assets/guide/zh/asd/Basic_Tutorial/Cross_platform_Interface.md
  docs/assets/guide/zh/asd/Basic_Tutorial/Events_and_Animation.md
  docs/assets/guide/zh/asd/Basic_Tutorial/Extensions_and_Plugins.md
  docs/assets/guide/zh/asd/Getting_Started.md
  docs/assets/guide/zh/asd/VRender_Website_Guide.md
  docs/assets/tutorials/en/Basic/How_to_Import_VRender.md
  docs/assets/tutorials/menu.json
  docs/assets/tutorials/zh/Basic/How_to_Import_VRender.md
  docs/menu.json
  docs/src/app.tsx
  docs/src/header.tsx
  docs/src/markdown.tsx
  docs/src/option.tsx
  docs/src/option/outline.tsx
Labels: docs

#463 feat: support getBaseMarks in label component
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#471 feat: area support closePath
  packages/vrender/__tests__/browser/src/pages/area.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/graphic/area.ts
  packages/vrender/src/render/contributions/render/area-render.ts
Labels: core

#472 Feat/marker enhancement
  common/changes/@visactor/vrender-components/feat-marker-enhancement_2023-09-11-08-01.json
  common/changes/@visactor/vrender-components/feat-marker-enhancement_2023-09-12-03-13.json
  common/changes/@visactor/vrender-components/feat-marker-enhancement_2023-09-12-06-55.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/compare-mark-line.ts
  packages/vrender-components/__tests__/browser/examples/mark-area.ts
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/__tests__/browser/examples/mark-point.ts
  packages/vrender-components/__tests__/browser/examples/multiple-segment.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/__tests__/unit/crosshair.test.ts
  packages/vrender-components/__tests__/unit/marker/area.test.ts
  packages/vrender-components/__tests__/unit/marker/line.test.ts
  packages/vrender-components/__tests__/unit/marker/point.test.ts
  packages/vrender-components/__tests__/unit/segment.test.ts
  packages/vrender-components/__tests__/util/graphic.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/legend/size/size.ts
  packages/vrender-components/src/marker/area.ts
  packages/vrender-components/src/marker/base.ts
  packages/vrender-components/src/marker/config.ts
  packages/vrender-components/src/marker/line.ts
  packages/vrender-components/src/marker/point.ts
  packages/vrender-components/src/marker/type.ts
  packages/vrender-components/src/marker/util.ts
  packages/vrender-components/src/segment/segment.ts
  packages/vrender-components/src/segment/type.ts
  packages/vrender-components/src/util/index.ts
  packages/vrender-components/src/util/label-smartInvert.ts
  packages/vrender-components/src/util/limit-shape.ts
Labels: components

#475 Fix/rose chart inner label
  common/changes/@visactor/vrender-components/fix-rose-chart-inner-label_2023-09-12-09-29.json
  common/changes/@visactor/vrender-components/fix-rose-chart-inner-label_2023-09-12-10-23.json
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
Labels: components

#486 feat: polygon support closePath, closed #482
  common/changes/@visactor/vrender/feat-polygon-closePath_2023-09-13-03-52.json
  packages/vrender/__tests__/browser/src/pages/polygon.ts
  packages/vrender/src/common/polygon.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/graphic/polygon.ts
  packages/vrender/src/render/contributions/render/polygon-render.ts
Labels: core

#490 fix: fix the typo issue in wx env
  common/changes/@visactor/vrender/fix-wx-typo_2023-09-13-08-35.json
  packages/vrender/src/core/contributions/env/wx-contribution.ts
Labels: core

#489 fix: fix arc stroke error, closed #481
  common/changes/@visactor/vrender/fix-arc-stroke_2023-09-13-07-17.json
  packages/vrender/__tests__/browser/src/pages/arc.ts
  packages/vrender/src/render/contributions/render/utils.ts
Labels: core

#488 Feat/export nowork attr
  common/changes/@visactor/vrender/feat-export-nowork-attr_2023-09-13-06-58.json
  packages/vrender/__tests__/browser/src/pages/area.ts
  packages/vrender/src/graphic/arc.ts
  packages/vrender/src/graphic/arc3d.ts
  packages/vrender/src/graphic/area.ts
  packages/vrender/src/graphic/circle.ts
  packages/vrender/src/graphic/glyph.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/graphic/group.ts
  packages/vrender/src/graphic/image.ts
  packages/vrender/src/graphic/line.ts
  packages/vrender/src/graphic/path.ts
  packages/vrender/src/graphic/polygon.ts
  packages/vrender/src/graphic/pyramid3d.ts
  packages/vrender/src/graphic/rect.ts
  packages/vrender/src/graphic/rect3d.ts
  packages/vrender/src/graphic/richtext.ts
  packages/vrender/src/graphic/symbol.ts
  packages/vrender/src/graphic/text.ts
Labels: core

#465 Refactor/color minify
  common/changes/@visactor/vrender/refactor-color-minify_2023-09-08-07-14.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
  packages/vrender/src/color-string/colorName.ts
  packages/vrender/src/color-string/index.ts
  packages/vrender/src/core/light.ts
  packages/vrender/src/render/contributions/render/arc3d-render.ts
  packages/vrender/src/render/contributions/render/pyramid3d-render.ts
  packages/vrender/src/render/contributions/render/rect3d-render.ts
Labels: core, react, react-utils, components, kits, docs

#492 fix: fix the line closed issue, closed #487
  common/changes/@visactor/react-vrender-utils/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/react-vrender/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/vrender-components/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/vrender-kits/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/vrender/fix-line-closed_2023-09-14-03-09.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/__tests__/browser/src/pages/area.ts
  packages/vrender/package.json
  packages/vrender/src/render/contributions/render/line-render.ts
Labels: core, react, react-utils, components, kits, docs

#469 Refactor/xml
  common/changes/@visactor/vrender/refactor-xml_2023-09-11-10-30.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender/__tests__/browser/src/pages/symbol.ts
  packages/vrender/package.json
  packages/vrender/src/common/xml/OrderedObjParser.ts
  packages/vrender/src/common/xml/index.ts
  packages/vrender/src/common/xml/node2json.ts
  packages/vrender/src/common/xml/parser.ts
  packages/vrender/src/common/xml/type.ts
  packages/vrender/src/common/xml/utils.ts
  packages/vrender/src/graphic/constants.ts
  packages/vrender/src/graphic/symbol.ts
  packages/vrender/src/graphic/tools.ts
  packages/vrender/src/index.ts
Labels: core

#494 feat: export getNoWorkAnimateAttr
  .github/workflows/release.yml
  packages/vrender/src/graphic/arc.ts
  packages/vrender/src/graphic/arc3d.ts
  packages/vrender/src/graphic/area.ts
  packages/vrender/src/graphic/circle.ts
  packages/vrender/src/graphic/glyph.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/graphic/group.ts
  packages/vrender/src/graphic/image.ts
  packages/vrender/src/graphic/line.ts
  packages/vrender/src/graphic/path.ts
  packages/vrender/src/graphic/polygon.ts
  packages/vrender/src/graphic/pyramid3d.ts
  packages/vrender/src/graphic/rect.ts
  packages/vrender/src/graphic/rect3d.ts
  packages/vrender/src/graphic/richtext.ts
  packages/vrender/src/graphic/symbol.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/graphic/wrap-text.ts
  packages/vrender/src/interface/graphic.ts
Labels: core

#495 chore: upgrade vutils vscale
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#497 Sync 0.15.2
  .github/workflows/release.yml
  common/changes/@visactor/react-vrender-utils/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/react-vrender/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/vrender-components/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/vrender-kits/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/vrender/feat-export-nowork-attr_2023-09-13-06-58.json
  common/changes/@visactor/vrender/feat-polygon-closePath_2023-09-13-03-52.json
  common/changes/@visactor/vrender/fix-arc-stroke_2023-09-13-07-17.json
  common/changes/@visactor/vrender/fix-line-closed_2023-09-14-03-09.json
  common/changes/@visactor/vrender/fix-wx-typo_2023-09-13-08-35.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs

#498 refactor: add common draw method
  packages/vrender/__tests__/browser/src/pages/pie3d.ts
  packages/vrender/src/render/contributions/render/arc-render.ts
  packages/vrender/src/render/contributions/render/arc3d-render.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/base-render.ts
  packages/vrender/src/render/contributions/render/circle-render.ts
  packages/vrender/src/render/contributions/render/glyph-render.ts
  packages/vrender/src/render/contributions/render/image-render.ts
  packages/vrender/src/render/contributions/render/line-render.ts
  packages/vrender/src/render/contributions/render/path-render.ts
  packages/vrender/src/render/contributions/render/polygon-render.ts
  packages/vrender/src/render/contributions/render/pyramid3d-render.ts
  packages/vrender/src/render/contributions/render/rect-render.ts
  packages/vrender/src/render/contributions/render/rect3d-render.ts
  packages/vrender/src/render/contributions/render/richtext-render.ts
  packages/vrender/src/render/contributions/render/symbol-render.ts
  packages/vrender/src/render/contributions/render/text-render.ts
Labels: core

#505 Fix/validate candidate position
  common/changes/@visactor/vrender-components/fix-validate_candidate_position_2023-09-18-11-38.json
  packages/vrender-components/src/label/overlap/place.ts
Labels: components

#499 fix: fix graphic don't export pick params issue
  packages/vrender/__tests__/browser/src/pages/editor.ts
  packages/vrender/__tests__/browser/src/pages/editor/transform-component2.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/interface/picker.ts
  packages/vrender/src/interface/stage.ts
  packages/vrender/src/picker/canvas-picker-service.ts
  packages/vrender/src/picker/contributions/canvas-picker/rect-picker.ts
  packages/vrender/src/picker/global-picker-service.ts
  packages/vrender/src/picker/math-picker-service.ts
  packages/vrender/src/picker/pick-interceptor.ts
  packages/vrender/src/picker/picker-service.ts
Labels: core

#501 feat: add _debug_bounds attribute to draw bounds, closed #500
  common/changes/@visactor/vrender/feat-debug-bounds_2023-09-15-08-36.json
  packages/vrender/__tests__/browser/src/pages/editor.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/render/contributions/render/draw-interceptor.ts
  packages/vrender/src/render/contributions/render/module.ts
Labels: core

#506 fix: fix release graphic don't remove html issue, closed #502
  common/changes/@visactor/vrender/fix-release-html_2023-09-18-12-59.json
  packages/vrender/src/graphic/graphic-service/graphic-service.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/interface/graphic-service.ts
  packages/vrender/src/plugins/builtin-plugin/html-attribute-plugin.ts
Labels: core

#508 Feat/vertical mode
  common/changes/@visactor/vrender/feat-vertical-mode_2023-09-18-12-54.json
  packages/vrender/__tests__/browser/src/pages/text.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/interface/graphic/text.ts
  packages/vrender/src/render/contributions/render/text-render.ts
  packages/vrender/src/render/contributions/render/utils.ts
Labels: core

#509 feat: appendChild add highPerformance params
  common/changes/@visactor/vrender/feat-appendChild_2023-09-19-03-17.json
  packages/vrender/src/graphic/node-tree.ts
Labels: core

#511 Feat/export text measure
  packages/vrender/src/core/contributions/index.ts
Labels: core, components, kits, docs, bundler, typescript

#514 fix: fix text render error
  packages/vrender/src/render/contributions/render/text-render.ts
Labels: core

#510 fix: custom animate solve validattr issue
  common/changes/@visactor/vrender/fix-animate-validAttr_2023-09-19-03-45.json
  packages/vrender/src/animate/animate.ts
Labels: core

#513 feat: support virtual layer
  packages/vrender-core/__tests__/browser/src/pages/arc.ts
  packages/vrender-core/src/core/constants.ts
  packages/vrender-core/src/core/contributions/layerHandler/canvas2d-contribution.ts
  packages/vrender-core/src/core/contributions/layerHandler/empty-contribution.ts
  packages/vrender-core/src/core/contributions/layerHandler/modules.ts
  packages/vrender-core/src/core/contributions/layerHandler/offscreen2d-contribution.ts
  packages/vrender-core/src/core/layer-service.ts
  packages/vrender-core/src/core/layer.ts
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/interface/core.ts
  packages/vrender-core/src/interface/layer.ts
  packages/vrender-core/src/interface/render.ts
  packages/vrender/__tests__/browser/src/pages/arc.ts
Labels: core

#518 fix: fix glyph pick
  packages/vrender/src/picker/contributions/canvas-picker/glyph-picker.ts
Labels: core

#517 feat: support interactive config, closed #446
  common/changes/@visactor/vrender-core/feat-interactive_2023-09-20-08-13.json
  common/changes/@visactor/vrender/refactor-xml_2023-09-11-10-30.json
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/graphic/graphic.ts
  packages/vrender-core/src/interface/graphic.ts
  packages/vrender-core/src/interface/stage.ts
  packages/vrender-core/src/render/contributions/render/draw-interceptor.ts
  packages/vrender-core/src/render/contributions/render/module.ts
  packages/vrender-kits/src/env/modules.ts
  packages/vrender/__tests__/browser/src/pages/symbol.ts
Labels: core, kits

#515 Fix/brush and datazoom
  common/changes/@visactor/vrender-components/fix-brush-and-datazoom_2023-09-20-06-45.json
  common/changes/@visactor/vrender-components/fix-brush-and-datazoom_2023-09-20-07-21.json
  common/changes/@visactor/vrender/fix-brush-and-datazoom_2023-09-20-06-45.json
  common/changes/@visactor/vrender/fix-brush-and-datazoom_2023-09-20-07-21.json
  packages/vrender-components/__tests__/browser/examples/brush.ts
  packages/vrender-components/src/brush/brush.ts
  packages/vrender-components/src/brush/config.ts
  packages/vrender-components/src/brush/type.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender/src/interface/event.ts
Labels: core, components

#526 fix: fix shadow bounds error while have outerborder
  common/changes/@visactor/vrender/fix-outer-border-shadow_2023-09-22-06-30.json
  packages/vrender/src/graphic/graphic-service/common-contribution.ts
  packages/vrender/src/graphic/graphic-service/symbol-contribution.ts
Labels: core

#531 feat: add outsideEnable config of smart invert
  common/changes/@visactor/vrender-components/feat-smartInvert-outsideEnable_2023-09-22-07-11.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/label-smart-inverse.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/util/label-smartInvert.ts
Labels: components

#524 feat: state animate support skip key
  packages/vrender/src/graphic/graphic.ts
Labels: core

#533 Fix/legend theme
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#536 fix: fix string anchor issue
  common/changes/@visactor/vrender/fix-string-anchor_2023-09-22-09-53.json
  packages/vrender/__tests__/browser/src/pages/rect.ts
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/interface/graphic.ts
  packages/vrender/src/render/contributions/render/draw-interceptor.ts
Labels: core

#535 feat: optimize not calculating isInside when setting outsideEnable
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#541 feat: add globalCompositeOperation, closed #540
  common/changes/@visactor/vrender-core/feat-globalCompositeOperation_2023-09-25-09-38.json
  common/changes/@visactor/vrender/refactor-color-minify_2023-09-08-07-14.json
  common/changes/@visactor/vrender/refactor-graphic_2023-09-11-10-33.json
  common/changes/@visactor/vrender/refactor-reflect-metadata_2023-09-11-02-58.json
  common/changes/@visactor/vrender/refactor-reflect-metadata_2023-09-12-12-04.json
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/interface/context.ts
  packages/vrender-core/src/interface/graphic.ts
  packages/vrender-core/src/render/contributions/render/arc-render.ts
  packages/vrender-core/src/render/contributions/render/arc3d-render.ts
  packages/vrender-core/src/render/contributions/render/area-render.ts
  packages/vrender-core/src/render/contributions/render/base-render.ts
  packages/vrender-core/src/render/contributions/render/circle-render.ts
  packages/vrender-core/src/render/contributions/render/contributions/arc-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/contributions/circle-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/contributions/rect-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/contributions/symbol-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/group-render.ts
  packages/vrender-core/src/render/contributions/render/image-render.ts
  packages/vrender-core/src/render/contributions/render/incremental-area-render.ts
  packages/vrender-core/src/render/contributions/render/incremental-line-render.ts
  packages/vrender-core/src/render/contributions/render/line-render.ts
  packages/vrender-core/src/render/contributions/render/path-render.ts
  packages/vrender-core/src/render/contributions/render/polygon-render.ts
  packages/vrender-core/src/render/contributions/render/rect-render.ts
  packages/vrender-core/src/render/contributions/render/symbol-render.ts
  packages/vrender-core/src/render/contributions/render/text-render.ts
  packages/vrender-core/src/render/contributions/render/utils.ts
  packages/vrender-kits/src/canvas/contributions/browser/context.ts
  packages/vrender/__tests__/browser/src/pages/globalCompositeOperation.ts
  packages/vrender/__tests__/browser/src/pages/index.ts
Labels: core, kits

#539 feat: enhance interactive layer
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/interface/graphic.ts
  packages/vrender-core/src/picker/pick-interceptor.ts
  packages/vrender-core/src/picker/pick-modules.ts
  packages/vrender-core/src/render/contributions/render/draw-interceptor.ts
  packages/vrender/__tests__/browser/src/pages/symbol.ts
Labels: core

#542 feat: arc label supports new position `inside-inner` and `inside-outer`
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#546 Sync 0.15.5
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs
