Repository VisActor/VRender, pull requests merged in 2023-11, with the labels that each got.

#635 fix: fix issue with xul and html attribute, closed #634
  common/changes/@visactor/vrender-core/fix-xml-html_2023-10-30-13-55.json
  common/changes/@visactor/vrender-kits/fix-xml-html_2023-10-30-13-55.json
  packages/vrender-core/src/common/xml/OrderedObjParser.ts
  packages/vrender-core/src/graphic/tools.ts
  packages/vrender-core/src/plugins/builtin-plugin/html-attribute-plugin.ts
  packages/vrender-kits/src/env/contributions/browser-contribution.ts
Labels: kits

#633 Echance/axis auto rotate
  common/changes/@visactor/vrender-components/echance-axis-auto-rotate_2023-10-30-08-45.json
  common/changes/@visactor/vrender-components/echance-axis-auto-rotate_2023-11-02-07-05.json
  common/changes/@visactor/vrender-components/echance-axis-auto-rotate_2023-11-02-07-11.json
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/axis/overlap/auto-hide.ts
  packages/vrender-components/src/axis/overlap/auto-limit.ts
  packages/vrender-components/src/axis/overlap/auto-rotate.ts
  packages/vrender-components/src/axis/overlap/util.ts
Labels: components

#644 Release/0.16.11
  common/changes/@visactor/vrender-components/echance-axis-auto-rotate_2023-10-30-08-45.json
  common/changes/@visactor/vrender-components/echance-axis-auto-rotate_2023-11-02-07-05.json
  common/changes/@visactor/vrender-components/echance-axis-auto-rotate_2023-11-02-07-11.json
  common/changes/@visactor/vrender-core/fix-xml-html_2023-10-30-13-55.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-core/CHANGELOG.json
  packages/vrender-core/CHANGELOG.md
  packages/vrender-core/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  rush.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs

#649 fix(marker): invalid points judge
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/__tests__/unit/marker/area.test.ts
  packages/vrender-components/__tests__/unit/marker/line.test.ts
  packages/vrender-components/src/marker/area.ts
  packages/vrender-components/src/marker/base.ts
  packages/vrender-components/src/marker/line.ts
  packages/vrender-components/src/marker/point.ts
Labels: components

#646 fix: padding of title component
  common/changes/@visactor/vrender-components/feat-label-access-richText_2023-11-06-08-30.json
  common/changes/@visactor/vrender-components/feat-label-access-richText_2023-11-07-03-27.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/title.ts
  packages/vrender-components/src/title/title.ts
Labels: components

#652 Fix/node canvas
  common/changes/@visactor/vrender-core/fix-node-canvas_2023-11-07-10-45.json
  common/changes/@visactor/vrender-kits/fix-node-canvas_2023-11-07-10-45.json
  packages/vrender-kits/src/env/contributions/node-contribution.ts
Labels: kits

#650 Fix/performance bounds
  common/changes/@visactor/vrender-components/fix-performance-bounds_2023-11-07-12-39.json
  common/changes/@visactor/vrender-core/fix-performance-bounds_2023-11-07-12-39.json
  common/changes/@visactor/vrender-kits/fix-performance-bounds_2023-11-07-12-39.json
  common/changes/@visactor/vrender/fix-performance-bounds_2023-11-07-12-39.json
  packages/vrender-core/src/allocator/graphic-allocate.ts
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/graphic/group.ts
  packages/vrender-core/src/index.ts
  packages/vrender/__tests__/browser/src/pages/index.ts
  packages/vrender/__tests__/browser/src/pages/vchart.ts
Labels: core

#662 fix: temp fix issue with lynx measuretext
  common/changes/@visactor/vrender-kits/fix-lynx-measuretext_2023-11-09-11-35.json
  packages/vrender-kits/src/canvas/contributions/lynx/context.ts
Labels: kits

#668 Perf/skip default attributes
  common/changes/@visactor/vrender-components/perf-skip-default-attributes_2023-11-13-08-22.json
  packages/vrender-components/src/axis/circle.ts
  packages/vrender-components/src/axis/grid/base.ts
  packages/vrender-components/src/axis/grid/circle.ts
  packages/vrender-components/src/axis/grid/line.ts
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/brush/brush.ts
  packages/vrender-components/src/checkbox/checkbox.ts
  packages/vrender-components/src/core/base.ts
  packages/vrender-components/src/crosshair/circle.ts
  packages/vrender-components/src/crosshair/line.ts
  packages/vrender-components/src/crosshair/polygon.ts
  packages/vrender-components/src/crosshair/rect.ts
  packages/vrender-components/src/crosshair/sector.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/interface.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/dataLabel.ts
  packages/vrender-components/src/label/line-data.ts
  packages/vrender-components/src/label/line.ts
  packages/vrender-components/src/label/polygon.ts
  packages/vrender-components/src/label/rect.ts
  packages/vrender-components/src/label/symbol.ts
  packages/vrender-components/src/legend/color/color.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/legend/size/size.ts
  packages/vrender-components/src/link-path/link-path.ts
  packages/vrender-components/src/marker/area.ts
  packages/vrender-components/src/marker/line.ts
  packages/vrender-components/src/marker/point.ts
  packages/vrender-components/src/pager/pager.ts
  packages/vrender-components/src/player/base-player.ts
  packages/vrender-components/src/player/controller/controller.ts
  packages/vrender-components/src/player/discrete-player.ts
  packages/vrender-components/src/poptip/poptip.ts
  packages/vrender-components/src/scrollbar/scrollbar.ts
  packages/vrender-components/src/segment/segment.ts
  packages/vrender-components/src/slider/slider.ts
  packages/vrender-components/src/tag/tag.ts
  packages/vrender-components/src/title/title.ts
  packages/vrender-components/src/tooltip/tooltip.ts
Labels: components

#670 feat: lineHeight support string
  common/changes/@visactor/vrender-components/feat-support-lineHeight_2023-11-13-12-50.json
  common/changes/@visactor/vrender-core/feat-support-lineHeight_2023-11-13-12-50.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-components/src/tooltip/tooltip.ts
  packages/vrender-core/package.json
  packages/vrender-core/src/common/utils.ts
  packages/vrender-core/src/graphic/richtext/paragraph.ts
  packages/vrender-core/src/graphic/text.ts
  packages/vrender-core/src/graphic/wrap-text.ts
  packages/vrender-core/src/interface/graphic/richText.ts
  packages/vrender-core/src/interface/graphic/text.ts
  packages/vrender-core/src/render/contributions/render/text-render.ts
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#669 feat: datazoom update callback supports new trigger tag param
  common/changes/@visactor/vrender-components/feat-datazoom-auto_2023-11-13-09-45.json
  packages/vrender-components/src/data-zoom/config.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender-components/src/data-zoom/type.ts
  packages/vrender-components/src/scrollbar/scrollbar.ts
Labels: components

#676 Fix/pick while scale
  common/changes/@visactor/vrender-core/fix-pick-while-scale_2023-11-15-09-29.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-core/package.json
  packages/vrender-kits/package.json
  packages/vrender-kits/src/env/contributions/browser-contribution.ts
  packages/vrender-kits/src/window/contributions/browser-contribution.ts
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#679 Perf/optmize area
  common/changes/@visactor/vrender-core/perf-optmize-area_2023-11-15-12-20.json
  packages/vrender-core/__tests__/browser/src/pages/area.ts
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/render/contributions/render/area-render.ts
  packages/vrender/__tests__/browser/src/pages/area.ts
Labels: core

#678 Fix/legend item hove trigger
  common/changes/@visactor/vrender-components/fix-legendItemHove-trigger_2023-11-15-10-30.json
  packages/vrender-components/__tests__/browser/examples/discrete-legend.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#681 Release/0.16.15
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/__tests__/browser/examples/discrete-legend.ts
  packages/vrender-components/package.json
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-core/CHANGELOG.json
  packages/vrender-core/CHANGELOG.md
  packages/vrender-core/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs

#682 Main
  common/changes/@visactor/vrender-components/fix-legendItemHove-trigger_2023-11-15-10-30.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-core/CHANGELOG.json
  packages/vrender-core/CHANGELOG.md
  packages/vrender-core/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs

#684 Fix/legend shape visible
  common/changes/@visactor/vrender-components/fix-legend-shape-visible_2023-11-16-10-25.json
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/legend/discrete/type.ts
Labels: components

#683 Fix/symbol rect
  common/changes/@visactor/vrender-core/fix-symbol-rect_2023-11-16-10-18.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-core/package.json
  packages/vrender-core/src/graphic/builtin-symbol/index.ts
  packages/vrender-core/src/graphic/builtin-symbol/rect.ts
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#704 Feat/no outrange
  packages/vrender-core/src/core/global.ts
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/graphic/graphic.ts
  packages/vrender-core/src/interface/global.ts
  packages/vrender-core/src/interface/stage.ts
  packages/vrender-core/src/render/contributions/render/base-render.ts
  packages/vrender-core/src/render/contributions/render/draw-contribution.ts
  packages/vrender-core/src/render/contributions/render/draw-interceptor.ts
  packages/vrender-core/src/render/contributions/render/module.ts
  packages/vrender-core/src/render/contributions/render/path-render.ts
  packages/vrender-core/src/render/contributions/render/rect-render.ts
  packages/vrender-core/src/render/render-service.ts
Labels: react, react-utils, components, docs

#706 feat: rect support x1 and y1
  common/changes/@visactor/vrender-core/feat-rect-x1y1_2023-11-21-10-17.json
  common/changes/@visactor/vrender-kits/feat-rect-x1y1_2023-11-21-10-17.json
  packages/vrender-core/src/common/shape/rect.ts
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/graphic/graphic-service/graphic-service.ts
  packages/vrender-core/src/graphic/rect.ts
  packages/vrender-core/src/interface/graphic/rect.ts
  packages/vrender-core/src/render/contributions/render/contributions/rect-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/rect-render.ts
  packages/vrender-core/src/render/contributions/render/utils.ts
  packages/vrender-kits/src/render/contributions/rough/rough-rect.ts
  packages/vrender/__tests__/browser/src/pages/rect.ts
Labels: core, kits

#708 fix: fix issue with getNamed
  packages/vrender-core/src/common/inversify/container.ts
  packages/vrender-core/src/common/inversify/syntax/constraint_helpers.ts
  packages/vrender/src/index.ts
Labels: core

#695 Feat/smart invert 3.x align
  common/changes/@visactor/vrender-components/feat-smartInvert-3.x-align_2023-11-20-08-21.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/label-smart-inverse.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/util/label-smartInvert.ts
Labels: components

#699 Fix/polygon pick mode imprecise not work
  common/changes/@visactor/vrender-kits/fix-polygon-pickMode-imprecise-not-work_2023-11-20-09-35.json
  packages/vrender-kits/src/picker/contributions/canvas-picker/polygon-picker.ts
Labels: kits

#702 Feat/gesture tap
  common/changes/@visactor/vrender-components/feat-gesture-tap_2023-11-21-03-23.json
  common/changes/@visactor/vrender-core/feat-gesture-tap_2023-11-21-03-45.json
  common/changes/@visactor/vrender-kits/feat-gesture-tap_2023-11-21-03-23.json
  common/changes/@visactor/vrender/feat-gesture-tap_2023-11-21-03-45.json
  common/config/rush/command-line.json
  packages/vrender-components/__tests__/browser/examples/draggable-mark-line.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/__tests__/browser/vite.config.ts
  packages/vrender-core/src/core/stage.ts
  packages/vrender-core/src/event/event-manager.ts
  packages/vrender-core/src/event/event-system.ts
  packages/vrender-core/src/interface/event.ts
  packages/vrender-core/src/interface/stage.ts
  packages/vrender-kits/src/event/extension/gesture.ts
  packages/vrender-kits/src/event/extension/interface.ts
  packages/vrender/__tests__/browser/src/interactive/gesture.ts
  packages/vrender/__tests__/browser/src/interactive/utils.ts
  packages/vrender/__tests__/browser/src/pages/interactive-test.ts
Labels: core, components, kits

#703 Fix/enhance label clamp force
  common/changes/@visactor/vrender-components/fix-enhance_label_clampForce_2023-11-21-07-26.json
  packages/vrender-components/src/label/area.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/index.ts
  packages/vrender-components/src/label/line.ts
Labels: components

#638 Fix/valid graphic
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/src/label/line.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-core/src/graphic/graphic-service/graphic-service.ts
  packages/vrender-core/src/graphic/graphic.ts
  packages/vrender/__tests__/graphic/graphic-bounds.test.ts
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
Labels: core, components

#661 Feat/richtext label
  common/changes/@visactor/vrender-components/feat-richtext-label_2023-11-09-08-30.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/indicator.ts
  packages/vrender-components/__tests__/browser/examples/label-arc.ts
  packages/vrender-components/__tests__/browser/examples/label-rect.ts
  packages/vrender-components/__tests__/browser/examples/line-axis.ts
  packages/vrender-components/__tests__/browser/examples/mark-area.ts
  packages/vrender-components/__tests__/browser/examples/mark-line.ts
  packages/vrender-components/__tests__/browser/examples/mark-point.ts
  packages/vrender-components/__tests__/browser/examples/tag.ts
  packages/vrender-components/__tests__/browser/examples/title.ts
  packages/vrender-components/__tests__/util/render.ts
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/circle.ts
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/axis/type.ts
  packages/vrender-components/src/constant.ts
  packages/vrender-components/src/core/type.ts
  packages/vrender-components/src/indicator/indicator.ts
  packages/vrender-components/src/indicator/type.ts
  packages/vrender-components/src/label/arc.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
  packages/vrender-components/src/marker/area.ts
  packages/vrender-components/src/marker/line.ts
  packages/vrender-components/src/marker/point.ts
  packages/vrender-components/src/marker/type.ts
  packages/vrender-components/src/tag/tag.ts
  packages/vrender-components/src/tag/type.ts
  packages/vrender-components/src/title/title.ts
  packages/vrender-components/src/title/type.ts
  packages/vrender-components/src/tooltip/tooltip.ts
  packages/vrender-components/src/tooltip/type.ts
  packages/vrender-components/src/tooltip/util.ts
Labels: components

#713 feat: support fill and stroke while svg don't support, closed #710
  common/changes/@visactor/vrender-core/feat-symbolsvg-fill-stroke_2023-11-23-07-58.json
  packages/vrender-core/src/graphic/symbol.ts
  packages/vrender-core/src/render/contributions/render/symbol-render.ts
  packages/vrender/__tests__/browser/src/pages/symbol.ts
Labels: core

#715 Fix/image repeat
  common/changes/@visactor/vrender-core/fix-image-repeat_2023-11-23-08-04.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  docs/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-core/package.json
  packages/vrender-core/src/render/contributions/render/image-render.ts
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#717 feat: background support repeat
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/interface/graphic.ts
  packages/vrender-core/src/render/contributions/render/contributions/base-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/contributions/group-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/contributions/image-contribution-render.ts
  packages/vrender/__tests__/browser/src/pages/symbol.ts
Labels: core

#721 feat: support light stream
  packages/vrender-core/src/animate/custom-animate.ts
  packages/vrender-core/src/graphic/area.ts
  packages/vrender-core/src/graphic/line.ts
  packages/vrender/__tests__/browser/src/pages/animate.ts
  packages/vrender/__tests__/browser/src/pages/chart.ts
Labels: core

#734 feat: support suffixPosition, closed #625
  common/changes/@visactor/vrender-core/feat-text-clip_2023-11-27-09-31.json
  common/changes/@visactor/vrender/feat-text-clip_2023-11-27-09-31.json
  packages/vrender-core/src/core/contributions/textMeasure/AtextMeasure.ts
  packages/vrender-core/src/core/contributions/textMeasure/layout.ts
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/graphic/text.ts
  packages/vrender-core/src/interface/graphic/text.ts
  packages/vrender-core/src/interface/text.ts
  packages/vrender/__tests__/browser/src/pages/text.ts
Labels: core

#742 fix: fix issue with attribute interpolate, closed #741
  common/changes/@visactor/vrender-core/fix-animate-attr_2023-11-29-12-44.json
  common/changes/@visactor/vrender/fix-animate-attr_2023-11-29-12-44.json
  packages/vrender-core/src/animate/Ticker/default-ticker.ts
  packages/vrender-core/src/animate/animate.ts
  packages/vrender-core/src/event/event-manager.ts
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/graphic/graphic.ts
  packages/vrender-core/src/graphic/node-tree.ts
  packages/vrender-core/src/graphic/theme.ts
  packages/vrender-core/src/render/contributions/render/draw-contribution.ts
  packages/vrender-kits/src/canvas/contributions/browser/context.ts
  packages/vrender/__tests__/browser/src/pages/animate.ts
  packages/vrender/__tests__/browser/src/pages/circle.ts
Labels: core, kits

#740 feat: support add canvas id
  packages/vrender-core/src/canvas/contributions/base-canvas.ts
  packages/vrender-core/src/core/layer-service.ts
  packages/vrender-kits/src/window/contributions/browser-contribution.ts
  packages/vrender/__tests__/browser/src/pages/text.ts
Labels: core, kits

#730 feat: text support background, closed #711
  common/changes/@visactor/vrender-core/feat-text-background_2023-11-24-11-16.json
  packages/vrender-core/src/render/contributions/render/contributions/text-contribution-render.ts
  packages/vrender-core/src/render/contributions/render/richtext-render.ts
  packages/vrender-core/src/render/contributions/render/text-render.ts
  packages/vrender/__tests__/browser/src/pages/richtext.ts
  packages/vrender/__tests__/browser/src/pages/text.ts
Labels: core

#738 fix: fix issue with vrender-kits tree shaking
  packages/vrender-kits/src/env/all.ts
  packages/vrender-kits/src/env/browser.ts
  packages/vrender-kits/src/env/contributions/module.ts
  packages/vrender-kits/src/env/feishu.ts
  packages/vrender-kits/src/env/index.ts
  packages/vrender-kits/src/env/lynx.ts
  packages/vrender-kits/src/env/node.ts
  packages/vrender-kits/src/env/taro.ts
  packages/vrender-kits/src/env/wx.ts
  packages/vrender-kits/src/picker/index.ts
  packages/vrender-kits/src/picker/module.ts
  packages/vrender/src/index.ts
Labels: core, kits

#744 Feat/legend pager position
  common/changes/@visactor/vrender-components/feat-legend-pager-position_2023-11-30-02-04.json
  common/changes/@visactor/vrender-components/feat-legend-pager-position_2023-11-30-02-06.json
  common/changes/@visactor/vrender/feat-legend-pager-position_2023-11-30-02-04.json
  common/changes/@visactor/vrender/feat-legend-pager-position_2023-11-30-02-06.json
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/legend/discrete/type.ts
  packages/vrender-components/src/legend/index.ts
  packages/vrender-components/src/legend/size/size.ts
  packages/vrender-components/src/legend/util.ts
  packages/vrender-components/src/slider/slider.ts
Labels: components

#747 Feat/merge develop dev0.17.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/legend/discrete/type.ts
  packages/vrender-components/src/legend/index.ts
  packages/vrender-components/src/legend/size/size.ts
  packages/vrender-components/src/legend/util.ts
  packages/vrender-components/src/slider/slider.ts
  packages/vrender-core/CHANGELOG.json
  packages/vrender-core/CHANGELOG.md
  packages/vrender-core/package.json
  packages/vrender-core/src/animate/Ticker/default-ticker.ts
  packages/vrender-core/src/animate/animate.ts
  packages/vrender-core/src/animate/custom-animate.ts
  packages/vrender-core/src/core/contributions/textMeasure/AtextMeasure.ts
  packages/vrender-core/src/core/contributions/textMeasure/layout.ts
  packages/vrender-core/src/event/event-manager.ts
  packages/vrender-core/src/event/event-system.ts
  packages/vrender-core/src/event/federated-event/base-event.ts
  packages/vrender-core/src/event/federated-event/mouse-event.ts
  packages/vrender-core/src/graphic/area.ts
  packages/vrender-core/src/graphic/config.ts
  packages/vrender-core/src/graphic/graphic-service/graphic-service.ts
  packages/vrender-core/src/graphic/graphic.ts
  packages/vrender-core/src/graphic/line.ts
  packages/vrender-core/src/graphic/node-tree.ts
  packages/vrender-core/src/graphic/richtext.ts
  packages/vrender-core/src/graphic/text.ts
  packages/vrender-core/src/graphic/theme.ts
  packages/vrender-core/src/interface/event.ts
  packages/vrender-core/src/interface/graphic/text.ts
  packages/vrender-core/src/interface/text.ts
  packages/vrender-core/src/render/contributions/render/draw-contribution.ts
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender-kits/src/canvas/contributions/browser/context.ts
  packages/vrender-kits/src/event/extension/gesture.ts
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/__tests__/browser/src/pages/animate.ts
  packages/vrender/__tests__/browser/src/pages/chart.ts
  packages/vrender/__tests__/browser/src/pages/circle.ts
  packages/vrender/__tests__/browser/src/pages/editor.ts
  packages/vrender/__tests__/browser/src/pages/text.ts
  packages/vrender/__tests__/event/event-manager.test.ts
  packages/vrender/package.json
  tools/bugserver-trigger/package.json
Labels: core, react, react-utils, components, kits, docs
