Repository VisActor/VRender, pull requests merged in 2023-07, with the labels that each got.

#108 Fix/marker pickable
  common/changes/@visactor/vrender-components/fix-marker-pickable_2023-07-03-09-19.json
  common/changes/@visactor/vrender-components/fix-marker-pickable_2023-07-04-07-45.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/src/marker/base.ts
Labels: components

#115 Fix/tooltip title
  common/changes/@visactor/vrender-components/fix-tooltip-title_2023-07-04-11-10.json
  common/changes/@visactor/vrender/fix-tooltip-title_2023-07-04-11-10.json
  packages/vrender-components/src/tooltip/tooltip.ts
Labels: components

#107 fix: fix the bug of setLineDash in lynx
  docs/demos/src/pages/glyph.ts
  packages/vrender/src/canvas/contributions/lynx/context.ts
Labels: core, docs

#116 chore: add a new rule to header-min-length to limit too short message
  common/autoinstallers/lint/commitlint.config.js
Labels: chore

#106 fix: fix the bug in FadeInPlus, closed #96
  common/changes/@visactor/vrender/fix-FadeInPlus_2023-07-03-07-56.json
  docs/demos/src/pages/animate.ts
  packages/vrender/src/animate/custom-animate.ts
Labels: core, docs

#121 test: add arc bounds test case
  packages/vrender/__tests__/graphic/graphic-bounds.test.ts
Labels: core

#120 feat: support sine and expo ease, closed #112
  common/changes/@visactor/vrender/feat-easing_2023-07-05-11-55.json
  packages/vrender/src/animate/easing.ts
  packages/vrender/src/interface/animate.ts
Labels: core

#119 fix: fix the bug of rendering pyramid3d graphic, closed #117
  common/changes/@visactor/vrender/fix-funnel3d_2023-07-05-09-47.json
  docs/demos/src/pages/chart.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/interface/render.ts
  packages/vrender/src/interface/stage.ts
  packages/vrender/src/render/contributions/render/draw-contribution.ts
  packages/vrender/src/render/contributions/render/draw-interceptor.ts
Labels: core, docs

#114 fix: fix the bug in arc bounds, closed #113
  common/changes/@visactor/vrender/fix-arc-bounds_2023-07-04-08-13.json
  packages/vrender/src/graphic/graphic-service/graphic-service.ts
Labels: core

#123 fix: fix richtext layout size error
  packages/vrender/src/graphic/richtext/wrapper.ts
Labels: core

#129 fix: check label inside in smartInvert
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#131 feat: text support scaleIn3d in 3d mode, closed #118
  common/changes/@visactor/vrender-components/feat-text-scaleIn3d_2023-07-07-07-55.json
  common/changes/@visactor/vrender/feat-text-scaleIn3d_2023-07-07-07-55.json
  packages/vrender/src/canvas/contributions/browser/context.ts
  packages/vrender/src/common/text.ts
  packages/vrender/src/graphic/config.ts
  packages/vrender/src/interface/context.ts
  packages/vrender/src/interface/graphic/text.ts
Labels: core

#133 chore: add wait time in ci bugserver test
  packages/vrender/github-ci.js
Labels: core

#135 Fix/legend: the layout bug of small size
  common/changes/@visactor/vrender-components/fix-legend_2023-07-08-09-17.json
  common/changes/@visactor/vrender-components/fix-legend_2023-07-08-09-23.json
  common/changes/@visactor/vrender-components/fix-legend_2023-07-10-03-22.json
  common/changes/@visactor/vrender-components/fix-legend_2023-07-11-01-17.json
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/package.json
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/circle.ts
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/pager/pager.ts
  packages/vrender-components/src/util/matrix.ts
Labels: components

#139 fix: fix the issue of false warn, closed #137
  common/changes/@visactor/vrender/fix-insertInto-warn_2023-07-11-07-27.json
  packages/vrender/src/graphic/node-tree.ts
Labels: core

#140 fix: fix the error of setLineDash in lynx
  common/changes/@visactor/vrender/fix-lynx-setDash_2023-07-11-07-33.json
  packages/vrender/src/canvas/contributions/lynx/context.ts
Labels: core

#145 feat: get rich text bounds
  common/changes/@visactor/vrender/feat-get-rich-text-bounds_2023-07-12-07-41.json
  packages/vrender/src/graphic/bounds.ts
Labels: core

#146 fix: fix the issue of arc background do not work
  common/changes/@visactor/vrender/fix-arc-background_2023-07-12-08-27.json
  docs/demos/src/pages/arc.ts
  packages/vrender/src/render/contributions/render/arc-render.ts
Labels: core, docs

#143 Fix/insert into keep idx warn
  common/changes/@visactor/vrender/fix-insertIntoKeepIdx-warn_2023-07-12-03-05.json
  packages/vrender/src/graphic/node-tree.ts
Labels: core

#164 Feat/feishu perfect
  common/changes/@visactor/vrender/feat-feishu-perfect_2023-07-17-09-43.json
  multi-platform/feishu-vrender/blank/pages/gallery/images/indicator.png
  multi-platform/feishu-vrender/blank/pages/gallery/pages/gallary.js
  multi-platform/feishu-vrender/blank/pages/gallery/pages/index.js
  multi-platform/feishu-vrender/blank/pages/index/index.js
  multi-platform/wx-vrender/miniprogram/pages/gallery/pages/index.js
  packages/vrender/src/canvas/contributions/browser/conical-gradient.ts
  packages/vrender/src/canvas/contributions/feishu/context.ts
  packages/vrender/src/canvas/contributions/lynx/context.ts
  packages/vrender/src/canvas/contributions/taro/context.ts
  packages/vrender/src/canvas/contributions/tt/context.ts
  packages/vrender/src/canvas/contributions/wx/context.ts
Labels: core

#148 Feat/rich text tooltip
  common/changes/@visactor/vrender-components/feat-rich-text-tooltip_2023-07-13-03-45.json
  common/changes/@visactor/vrender/feat-get-rich-text-bounds_2023-07-12-07-41.json
  packages/vrender-components/src/tooltip/tooltip.ts
  packages/vrender-components/src/tooltip/type.ts
  packages/vrender-components/src/tooltip/util.ts
Labels: components

#149 Feat/stop animate
  common/changes/@visactor/vrender/feat-stop-animate_2023-07-13-13-13.json
  packages/vrender/src/graphic/graphic.ts
  packages/vrender/src/interface/graphic.ts
Labels: core

#165 feat: support createCanvasNG in lynx env, closed #161
  common/changes/@visactor/vrender/feat-lynx-canvas_2023-07-17-12-20.json
  packages/vrender/src/core/contributions/env/feishu-contribution.ts
  packages/vrender/src/core/contributions/env/lynx-contribution.ts
  packages/vrender/src/core/contributions/env/taro-contribution.ts
Labels: core

#155 Feat/poptip
  common/changes/@visactor/vrender-components/feat-poptip_2023-07-11-07-16.json
  common/changes/@visactor/vrender/feat-poptip_2023-07-11-07-16.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/src/pages/arc.ts
  packages/vrender-components/__tests__/browser/examples/poptip.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/package.json
  packages/vrender-components/src/index.ts
  packages/vrender-components/src/poptip/contribution.ts
  packages/vrender-components/src/poptip/index.ts
  packages/vrender-components/src/poptip/poptip-plugin.ts
  packages/vrender-components/src/poptip/poptip.ts
  packages/vrender-components/src/poptip/register.ts
  packages/vrender-components/src/poptip/type.ts
  packages/vrender-components/src/tag/tag.ts
  packages/vrender-kits/src/render/contributions/rough/rough-area.ts
  packages/vrender/src/common/contribution-provider.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/graphic/text.ts
  packages/vrender/src/index.ts
  packages/vrender/src/interface/contribution.ts
  packages/vrender/src/interface/stage.ts
  packages/vrender/src/plugins/builtin-plugin/poptip-plugin.ts
  packages/vrender/src/plugins/constants.ts
  packages/vrender/src/plugins/plugin-modules.ts
  packages/vrender/src/plugins/plugin-service.ts
  packages/vrender/src/render/contributions/render/arc-render.ts
  packages/vrender/src/render/contributions/render/area-render.ts
  packages/vrender/src/render/contributions/render/circle-render.ts
  packages/vrender/src/render/contributions/render/contributions/arc-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/area-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/base-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/circle-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/constants.ts
  packages/vrender/src/render/contributions/render/contributions/group-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/image-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/path-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/polygon-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/rect-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/symbol-contribution-render.ts
  packages/vrender/src/render/contributions/render/contributions/text-contribution-render.ts
  packages/vrender/src/render/contributions/render/group-render.ts
  packages/vrender/src/render/contributions/render/image-render.ts
  packages/vrender/src/render/contributions/render/module.ts
  packages/vrender/src/render/contributions/render/path-render.ts
  packages/vrender/src/render/contributions/render/polygon-render.ts
  packages/vrender/src/render/contributions/render/rect-render.ts
  packages/vrender/src/render/contributions/render/symbol-render.ts
  packages/vrender/src/render/contributions/render/text-render.ts
  packages/vrender/src/render/index.ts
Labels: core, components, kits, docs

#167 Feat/axis label in Cartesian coordinate support overlap config
  .vscode/settings.json
  common/changes/@visactor/vrender-components/feat-axis-label-layout_2023-07-17-01-41.json
  common/changes/@visactor/vrender-components/feat-axis-label-layout_2023-07-18-02-01.json
  common/changes/@visactor/vrender-components/feat-axis-label-layout_2023-07-18-04-26.json
  packages/vrender-components/__tests__/browser/examples/axis-overlap.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/__tests__/unit/axis/line.test.ts
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/circle.ts
  packages/vrender-components/src/axis/line.ts
  packages/vrender-components/src/axis/overlap/auto-hide.ts
  packages/vrender-components/src/axis/overlap/auto-limit.ts
  packages/vrender-components/src/axis/overlap/auto-rotate.ts
  packages/vrender-components/src/axis/type.ts
  packages/vrender-components/src/util/text.ts
Labels: components

#166 feat: area support stroke, closed #157
  common/changes/@visactor/vrender/feat-area-stroke_2023-07-17-14-03.json
  docs/demos/src/pages/area.ts
  packages/vrender-kits/src/render/contributions/rough/rough-area.ts
  packages/vrender/src/common/render-area.ts
  packages/vrender/src/render/contributions/render/area-render.ts
Labels: core, kits, docs

#169 Fix/legend
  common/changes/@visactor/vrender-components/fix-legend_2023-07-18-07-38.json
  common/changes/@visactor/vrender-kits/fix-legend_2023-07-18-07-38.json
  packages/vrender-components/src/legend/discrete/discrete.ts
Labels: components

#168 Fix/marker enhance
  common/changes/@visactor/vrender-components/fix-marker_2023-07-18-03-17.json
  common/changes/@visactor/vrender/fix-marker_2023-07-18-03-17.json
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/unit/marker/point.test.ts
  packages/vrender-components/src/marker/area.ts
  packages/vrender-components/src/marker/base.ts
  packages/vrender-components/src/marker/line.ts
  packages/vrender-components/src/marker/point.ts
  packages/vrender-components/src/segment/segment.ts
  packages/vrender-components/src/segment/type.ts
  packages/vrender-components/src/tag/tag.ts
Labels: components

#170 chore: upgrade vscale
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#172 fix: fix the error while draw symbol in rough style
  docs/demos/src/pages/area.ts
  docs/demos/src/pages/chart.ts
  packages/vrender-kits/src/render/contributions/rough/rough-symbol.ts
  packages/vrender/src/graphic/builtin-symbol/circle.ts
  packages/vrender/src/index.ts
  packages/vrender/src/interface/graphic/symbol.ts
  packages/vrender/src/render/contributions/render/symbol-render.ts
Labels: core, kits, docs

#174 feat: add dxdy to poptip, add pluginList, closed #173
  packages/vrender-components/__tests__/util/render.ts
  packages/vrender-components/src/poptip/poptip-plugin.ts
  packages/vrender-components/src/poptip/poptip.ts
  packages/vrender-components/src/poptip/type.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/interface/plugin.ts
  packages/vrender/src/interface/stage.ts
  packages/vrender/src/plugins/plugin-service.ts
Labels: core, components

#175 chore: upgrade vscale
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/package.json
  packages/react-vrender/package.json
  packages/vrender-components/package.json
  packages/vrender-kits/package.json
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#179 fix: fix the error caused by reflect-metadata in react env
  common/changes/@visactor/vrender-kits/fix-reflect-metadata_2023-07-19-09-21.json
  common/changes/@visactor/vrender/fix-reflect-metadata_2023-07-19-09-21.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/src/inversify_test/index.ts
  packages/vrender-kits/bundler.config.js
  packages/vrender-kits/package.json
  packages/vrender-kits/src/index-node.ts
  packages/vrender-kits/src/index.ts
  packages/vrender/bundler.config.js
  packages/vrender/package.json
  packages/vrender/src/index.ts
Labels: core, kits, docs, bundler

#182 fix: fix the error of drawing arc background, closed #180
  common/changes/@visactor/vrender/fix-arc-contribution_2023-07-19-09-46.json
  docs/demos/src/pages/arc.ts
  packages/vrender/src/render/contributions/render/arc-render.ts
Labels: core, docs

#183 Fix/axis title
  common/changes/@visactor/vrender-components/fix-axis-title_2023-07-19-13-54.json
  packages/vrender-components/src/axis/line.ts
Labels: components

#184 fix: fix the bounds issue caused by fontWeight
  common/changes/@visactor/vrender/fix-text-bounds_2023-07-20-03-43.json
  docs/demos/src/pages/text.ts
  packages/vrender/src/graphic/text.ts
Labels: core, docs

#188 Sync 0.13.1
  .github/workflows/release.yml
  common/changes/@visactor/vrender-components/fix-axis-title_2023-07-19-13-54.json
  common/changes/@visactor/vrender-kits/fix-reflect-metadata_2023-07-19-09-21.json
  common/changes/@visactor/vrender/fix-arc-contribution_2023-07-19-09-46.json
  common/changes/@visactor/vrender/fix-reflect-metadata_2023-07-19-09-21.json
  common/changes/@visactor/vrender/fix-text-bounds_2023-07-20-03-43.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#187 Fix/axis title offset
  common/changes/@visactor/vrender-components/fix-axis-title-offset_2023-07-21-03-39.json
  common/changes/@visactor/vrender-components/fix-axis-title-offset_2023-07-21-06-26.json
  packages/vrender-components/__tests__/unit/axis/line.test.ts
  packages/vrender-components/src/axis/line.ts
Labels: components

#189 fix: fix the issue of setEnv caused by layerservice
  packages/vrender/src/core/layer-service.ts
Labels: core

#190 fix: fix the poptip not work issue, closed #186
  packages/vrender-components/__tests__/browser/examples/poptip.ts
  packages/vrender-components/__tests__/util/render.ts
  packages/vrender-components/src/poptip/contribution.ts
  packages/vrender-components/src/poptip/poptip-plugin.ts
  packages/vrender-components/src/poptip/register.ts
  packages/vrender-components/src/poptip/theme.ts
  packages/vrender/src/core/stage.ts
Labels: core, components

#193 Feat/component state style enhancement
  common/changes/@visactor/vrender-components/feat-component-state-style-enhancement_2023-07-21-10-12.json
  common/changes/@visactor/vrender-components/feat-component-state-style-enhancement_2023-07-21-10-35.json
  packages/vrender-components/__tests__/browser/examples/discrete-legend-v.ts
  packages/vrender-components/__tests__/browser/examples/interactive-axis.ts
  packages/vrender-components/__tests__/browser/main.ts
  packages/vrender-components/src/axis/base.ts
  packages/vrender-components/src/axis/type.ts
  packages/vrender-components/src/legend/discrete/discrete.ts
  packages/vrender-components/src/legend/discrete/type.ts
Labels: components

#198 fix: fix the issue related to load image in lynx env, closed #196
  common/changes/@visactor/vrender/fix-lynx-loadimage_2023-07-24-07-33.json
  packages/vrender/src/core/contributions/env/lynx-contribution.ts
Labels: core

#199 Fix/poptip enhance
  packages/vrender-components/__tests__/browser/examples/poptip.ts
  packages/vrender-components/__tests__/util/render.ts
  packages/vrender-components/src/poptip/poptip.ts
  packages/vrender-components/src/poptip/register.ts
  packages/vrender-components/src/poptip/theme.ts
  packages/vrender-components/src/poptip/type.ts
Labels: components

#202 Fix/data zoom
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/browser/examples/data-zoom-preview-v.ts
  packages/vrender-components/__tests__/unit/data-zoom.test.ts
  packages/vrender-components/src/data-zoom/config.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
  packages/vrender/vite/vite.config.ts
Labels: core, components

#201 Fix/axis label auto limit
  common/changes/@visactor/vrender-components/fix-axis-label-auto-limit_2023-07-24-14-34.json
  packages/vrender-components/__tests__/browser/examples/axis-overlap.ts
  packages/vrender-components/src/axis/overlap/auto-limit.ts
Labels: components

#203 fix(vrender-components): fix the issue of maxLineWidth's value is neg…
  packages/vrender-components/src/axis/overlap/auto-limit.ts
Labels: components

#204 fix: fix the issue related to canvas position and enhance poptip over…
  packages/vrender-components/__tests__/browser/examples/poptip.ts
  packages/vrender-components/src/poptip/poptip.ts
  packages/vrender/src/canvas/contributions/browser/canvas.ts
  packages/vrender/src/canvas/contributions/feishu/canvas.ts
  packages/vrender/src/canvas/contributions/lynx/canvas.ts
  packages/vrender/src/canvas/contributions/node/canvas.ts
  packages/vrender/src/canvas/contributions/taro/canvas.ts
  packages/vrender/src/canvas/contributions/tt/canvas.ts
  packages/vrender/src/canvas/contributions/wx/canvas.ts
  packages/vrender/src/core/contributions/layerHandler/canvas2d-contribution.ts
Labels: core, components

#210 Fix/data zoom
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/__tests__/unit/data-zoom.test.ts
  packages/vrender-components/src/data-zoom/data-zoom.ts
Labels: components

#218 fix: fix the issue of using interactive layer in only on canvas env, …
  common/changes/@visactor/vrender-components/fix-interactive-layer-create_2023-07-27-10-01.json
  common/changes/@visactor/vrender/fix-interactive-layer-create_2023-07-27-10-01.json
  packages/vrender-components/src/poptip/contribution.ts
  packages/vrender/src/core/stage.ts
  packages/vrender/src/interface/stage.ts
Labels: core, components

#191 feat: label support custom layout function
  common/changes/@visactor/vrender-components/feat-label_custom_layout_2023-07-21-07-11.json
  packages/vrender-components/__tests__/browser/examples/label-line.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/overlap/place.ts
  packages/vrender-components/src/label/rect.ts
  packages/vrender-components/src/label/symbol.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#212 fix: fix the issue related to text bounds, closed #211
  docs/demos/src/pages/animate.ts
  docs/demos/src/pages/text.ts
  packages/vrender/src/graphic/graphic-service/graphic-service.ts
Labels: core, docs

#221 fix: fix the issue of area stroke with texture
  common/changes/@visactor/vrender/fix-area-stroke_2023-07-27-11-48.json
  docs/demos/src/pages/area.ts
  packages/vrender/src/render/contributions/render/area-render.ts
Labels: core, docs

#224 Revert "feat: label support custom layout function"
  common/changes/@visactor/vrender-components/feat-label_custom_layout_2023-07-21-07-11.json
  packages/vrender-components/__tests__/browser/examples/label-line.ts
  packages/vrender-components/src/label/base.ts
  packages/vrender-components/src/label/overlap/place.ts
  packages/vrender-components/src/label/rect.ts
  packages/vrender-components/src/label/symbol.ts
  packages/vrender-components/src/label/type.ts
Labels: components

#225 Sync 0.13.5
  common/changes/@visactor/vrender-components/fix-interactive-layer-create_2023-07-27-10-01.json
  common/changes/@visactor/vrender/fix-area-stroke_2023-07-27-11-48.json
  common/changes/@visactor/vrender/fix-interactive-layer-create_2023-07-27-10-01.json
  common/config/rush/pnpm-lock.yaml
  docs/demos/package.json
  packages/react-vrender-utils/CHANGELOG.json
  packages/react-vrender-utils/CHANGELOG.md
  packages/react-vrender-utils/package.json
  packages/react-vrender/CHANGELOG.json
  packages/react-vrender/CHANGELOG.md
  packages/react-vrender/package.json
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
  packages/vrender-kits/CHANGELOG.json
  packages/vrender-kits/CHANGELOG.md
  packages/vrender-kits/package.json
  packages/vrender/CHANGELOG.json
  packages/vrender/CHANGELOG.md
  packages/vrender/package.json
Labels: core, react, react-utils, components, kits, docs

#231 Sync 0.13.6
  common/config/rush/pnpm-lock.yaml
  packages/vrender-components/CHANGELOG.json
  packages/vrender-components/CHANGELOG.md
  packages/vrender-components/package.json
Labels: components
